/* Top */
.top-detail
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center

.top-detail span
    font-weight: normal
    font-size: 12px
    line-height: 20px
    color: #666666
    display: flex
    width: 50%
    flex-wrap: wrap
    justify-content: flex-end

.top-detail ul 
    display: flex
    align-items: center
    // height: 30px
    width: 50%
    flex-wrap: wrap

.top-detail ul li
    display: flex
    align-items: center
    margin-right: 3px

.top-detail ul li a
    font-size: 12px
    line-height: 20px
    color: #666666
    text-transform: uppercase

.top-detail ul li a::after 
    content: '/'
    padding-left: 2px
    color: #666666
    font-weight: 400

.top-detail ul li:last-child a::after 
    content: ''

.top-detail ul li:first-child a
    // color: #E82724
    color: #b6302a
    font-size: 14px
    line-height: 20px
    font-weight: 900

/* End Top */

/* Info */
.info
    margin-bottom: 15px

.info h1 
    font-size: 20px
    font-weight: 900
    line-height: 26px
    color: #000000
    text-align: center
    margin-bottom: 10px

.info .writer 
    display: flex
    justify-content: center

.info .writer span 
    border-right: 1px solid #666
    color: #666
    font-size: 12px
    font-weight: normal
    line-height: 10px
    display: inline-block
    margin-right: 7px
    padding-right: 7px

.info .writer span:last-child
    margin-right: 0px
    padding-right: 0px
    border-right: 0px

/* End Info */


/* Cover Image */
.img-cover 
    margin-bottom: 15px
.img-cover .caption
    background: #EBEBEB
    padding: 7px
    word-break: break-word
    font-family: 'Poppins', sans-serif
    font-size: 12px
    color: #666666
.img-cover picture
    margin-bottom: 0px
    display: flex
.img-cover .hr-bottom-caption 
    width: 100%
    border: 0px
    margin-top: 15px
    border-bottom: 1px dashed #DADADA
/* End Cover Image */


/* Slide foto for detail foto */ 
.slide-foto-thumb 
    display: flex
    flex-wrap: nowrap
    margin: 15px -15px
    overflow-x: scroll
.slide-foto-thumb .item-foto
    display: block
    margin-left: 15px
.slide-foto-thumb .item-foto a 
    display: flex
    width: 160px
.slide-foto-thumb .item-foto.active a 
    border: 2px solid #FF0000
.slide-foto-thumb .item-foto img 
    width: 100%
    height: auto
/* End Slide foto for detail foto */ 


/* Detail Content */
.detail-content
    margin-bottom: 20px
    font-family: 'Lato', sans-serif
    position: relative

.detail-content .iframe-title
    padding: 0px !important
    margin-bottom: 10px !important

.detail-content ul li, 
.detail-content ol li, 
.detail-content p 
    font-weight: 400
    font-size: 16px
    line-height: 28px
    color: #000000
    margin-bottom: 13px
    word-break: break-word

.detail-content p strong
    font-weight: 700

.detail-content p a 
    // color: #E82724
    color: #b6302a
    font-weight: 700

.detail-content ol,
.detail-content ul
    margin-left: 15px
    padding-left: 15px

.detail-content ul li,
.detail-content ol li
    margin-bottom: 5px

.detail-content ol li
    list-style: decimal

.detail-content ul li
    list-style: circle
/* End Detail Content */


/* Baca Juga On Article */
.detail-content p.baca-juga-new
    background: #F6F6F6
    border: 1px solid #EBEBEB
    border-radius: 10px
    padding: 10px
    margin-top: 10px
.detail-content p.baca-juga-new span 
    font-weight: 900
    font-size: 14px
    line-height: 17px
    color: #000
    display: block
    margin-bottom: 8px
.detail-content p.baca-juga-new a
    font-weight: 900
    font-size: 15px
    line-height: 20px
    color: #37356C
    display: block

.detail-content figure.image,
.detail-content picture 
    margin-bottom: 10px

.detail-content figure.image img
    width: 100%
    display: block

.detail-content figure.image figcaption
    word-break: break-word
    font-family: 'Poppins', sans-serif
    font-size: 12px
    color: #666666
    background: #EBEBEB
    padding: 7px

.detail-content iframe
    // width: 100%
    max-width: 100%
    // height: auto
    border: 0px

.detail-content div[class*="dailymotion-widget"]
    width: 100%
    display: block
    margin-bottom: 10px

.detail-content h2 
    font-size: 18px
    margin-bottom: 5px

.detail-content h3 
    font-size: 17px
    margin-bottom: 5px

.detail-content h4
    font-size: 16px
    margin-bottom: 5px

.detail-content .btn-selengkapnya
    font-size: 16px
/* Baca Juga On Article */


/* Baca Selanjutnya */ 
.next-article 
    display: none
    position: fixed
    top: 40px
    z-index: 6
    background: #fff
    width: 100%
    // border-radius: 10px
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px
.next-article .close-next
    position: absolute
    top: 0px
    right: 15px
    font-size: 25px
    cursor: pointer
.next-article .close-next i 
    height: 17px
    width: 17px
.item--baca-juga-inner 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-bottom: 10px
.next-article .baca-juga-1 .item--baca-juga-inner
    margin-bottom: 0px
.item--baca-juga-inner .post-thumb
    width: 27%
    max-width: 90px
    overflow: hidden
    margin-right: 10px
    padding: 10px 10px 10px
.next-article .baca-juga-1 .item--baca-juga-inner .post-thumb a
    display: flex
.item--baca-juga-inner .item-content
    width: 65%
    overflow: hidden
    padding-top: 15px
    margin-right: 10px
.next-article .baca-juga-1 .item--baca-juga-inner .item-content h4
    font-size: 12px
    margin-bottom: 5px
    padding-bottom: 2px
    border-bottom: 1px solid #bebebe
.item--baca-juga-inner .item-content .post-title 
    margin: 0px 0px 10px 0px
    font-size: 14px
    line-height: 18px
    margin-top: 5px
.item--baca-juga-inner .item-content .post-title  a
    color: #000000
.item--baca-juga-inner .item-content span
    text-transform: uppercase
    display: block
    font-size: 14px
/* End Baca Selanjutnya */ 