/* Subcribe */
.subscribe-foot 
    background: linear-gradient(90deg, #E82724 0%, #41227A 100%)
    width: 100%
    padding-bottom: 15px
    font-family: 'Poppins', sans-serif

.subscribe-foot span 
    display: block
    text-align: center
    padding-top: 5px
    font-weight: bold
    color: #fff
    font-size: 16px
    margin-bottom: 10px

.subscribe-foot .wrap-form 
    border: 1px solid #fff
    padding: 10px
    max-width: 275px
    display: block
    margin: 0 auto
    border-radius: 10px

.subscribe-foot .wrap-form form 
    height: auto
    display: flex
    align-items: center
    justify-content: space-between

.subscribe-foot .wrap-form button,
.subscribe-foot .wrap-form input[type=email]
    border: 0px
    outline: 0px
    background: transparent
    font-size: 12px
    color: #fff
.subscribe-foot .wrap-form input[type=email]
    width: 80%
.subscribe-foot .wrap-form button
    width: 10%

.subscribe-foot .wrap-form button i 
    color: #fff
    font-size: 20px

.subscribe-foot .wrap-form ::-webkit-input-placeholder
    color: #fff

.subscribe-foot .wrap-form :-ms-input-placeholder
    color: #fff

.subscribe-foot .wrap-form ::placeholder
    color: #fff



/* Copyright */
.foot-copyright 
    padding: 15px 0px

.foot-copyright span 
    display: block
    text-align: center
    color: #333
    font-size: 12px
    font-weight: normal
    font-family: 'Poppins', sans-serif
