.foto 
    background: #F6F6F6
    padding: 10px 0px 15px 15px
    margin: 0px -15px 20px -15px 0px

.foto .list-item-foto
    display: flex
    width: 100%
    overflow-x: scroll

.foto .list-item-foto .item
    width: 250px
    display: flex
    margin-right: 15px
    flex-direction: column

.foto .list-item-foto .item .thumb-img
    width: 250px

.foto .list-item-foto .item h3
    font-weight: 600
    font-size: 16px
    line-height: 20px 
    word-break: break-word
    margin-top: 5px

.foto .list-item-foto .item a 
    color: #000

.foto .list-item-foto .item span 
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    line-height: 12px
    display: block
    margin-top: 6px

.foto .list-item-foto .item span a
    color: #666666