.headline 
    position: relative

/* Headline One */
.headline-one 
    margin-bottom: 25px

.headline-one h1,
.headline-one h2
    font-weight: 800
    font-size: 18px
    line-height: 24px
    word-break: break-word
    margin-top: 4px

.headline-one h1 a,
.headline-one h2 a
    color: #000 

.headline-one span
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    line-height: 12px
    display: block
    margin-top: 6px

.headline-one span a
    // color: #A1A1A1
    color: #666
/* End Headline One */

/* Headline One Video */
.headline-one.video .thumb-img i.icon-svg
    color: #fff
    position: absolute
    font-size: 30px
    bottom: 15px
    left: 15px
    width: 40px
    height: 40px
/* End Headline One Video