/* Global */
.list-item-y .item .box .des h2,
.list-item-x h2 
    font-weight: 600
    font-size: 15px
    line-height: 20px 
    word-break: break-word

.list-item-y .item .box .des h2 a,
.list-item-x h2 a 
    color: #000

.list-item-y .item .box .des span,
.list-item-x span
    font-weight: normal
    font-size: 12px
    text-transform: uppercase
    line-height: 12px
    display: block
    margin-top: 4px
    word-break: break-word
    color: #666

.list-item-y .item .box .des span a,
.list-item-x span a 
    color: #666



/* List Item X */
.list-item-x 
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px

.list-item-x .item
    width: 50%
    margin-bottom: 30px


.list-item-x .item h2
    margin-top: 3px

.list-item-x .item:nth-child(odd) .box
    padding-right: 7px
.list-item-x .item:nth-child(even) .box
    padding-left: 7px 
/* End List Item X */


/* List Item Y */
.list-item-y 
    margin-bottom: 20px

.list-item-y .item
    border-bottom: 1px dashed #DADADA
    padding-bottom: 10px
    margin-bottom: 10px

.list-item-y .item:last-child
    border-bottom: 0px
    padding-bottom: 0px
    margin-bottom: 0px

.list-item-y .item .box 
    display: flex
    flex-wrap: wrap

.list-item-y .item .box .thumb-img
    width: 40%

.list-item-y .item .box .des 
    width: 60%
    padding-left: 10px
/* End List Item Y */


/* List Item Without Images */
.list-item-y-without-img 
    margin-bottom: 20px

.list-item-y-without-img .item
    width: 100%
    position: relative
    border-bottom: 1px dashed #DADADA
    padding-bottom: 10px
    margin-bottom: 10px

.list-item-y-without-img .item:last-child
    border-bottom: 0px
    padding-bottom: 0px
    margin-bottom: 0px

.list-item-y-without-img .item span 
    font-size: 12px
    line-height: 12px
    font-weight: normal 
    word-break: break-word
    display: block
    text-transform: uppercase
    margin-bottom: 2px
    margin-left: 10px

.list-item-y-without-img .item span::before
    content: ''
    width: 5px
    height: 5px
    background: #C4C4C4
    position: absolute
    left: 0px
    top: 3px

.list-item-y-without-img .item span a
    color: #666666

.list-item-y-without-img .item h3 
    font-size: 15px
    line-height: 20px
    font-weight: 600
    display: block
    padding-left: 10px
    word-break: break-word

.list-item-y-without-img .item h3 a 
    color: #000000
/* End List Item Without Images */


/* List Item X Scroll */
.list-item-x-scroll 
    display: flex
    width: 100%
    overflow-x: scroll
    margin-bottom: 20px

.list-item-x-scroll .item
    width: 200px
    display: flex
    margin-right: 15px
    flex-direction: column

.list-item-x-scroll .item .thumb-img
    width: 200px

.list-item-x-scroll .item h3
    font-weight: 600
    font-size: 16px
    line-height: 20px 
    word-break: break-word
    margin-top: 5px

.list-item-x-scroll .item a 
    color: #000

.list-item-x-scroll .item span 
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    line-height: 12px
    display: block
    margin-top: 6px

.list-item-x-scroll .item span a
    color: #666666
/* End List Item X Scroll */