.menu-top-regional
    background: #F6F6F6
    display: flex

.menu-top-regional ul 
    padding-top: 10px
    padding-bottom: 10px
    display: flex

.menu-top-regional ul.scroll-x 
    overflow-x: scroll

.menu-top-regional ul li 
    list-style: none
    display: flex
    font-size: 14px
    font-weight: 600
    margin-left: 15px

.menu-top-regional ul li:last-child 
    padding-right: 15px

.menu-top-regional ul li a 
    white-space: nowrap
    color: #000000
    text-transform: capitalize

.menu-top-regional ul:first-child
    background: #EBEBEB

.menu-top-regional ul:first-child li 
    color: #E82724
    font-size: 12px
    font-weight: 900
    display: flex
    align-items: center

