
.menu-top 
    width: 100%
    overflow-x: scroll
    display: flex
    background: linear-gradient(90deg, #E82724 0%, #41227A 100%)
    padding: 10px 15px 10px 15px
    position: relative

.menu-top ul 
    display: flex
    width: 100%

.menu-top ul li 
    list-style: none
    display: flex
    padding-right: 15px

.menu-top ul li a 
    font-family: 'Poppins', sans-serif
    font-weight: 600
    color: #FFFFFF
    font-size: 13px
    text-transform: capitalize
    white-space: nowrap

.menu-top ul:first-child 
    margin-right: 15px
    border-right: 2px solid #fff

.menu-top ul:first-child li 
    position: relative
    margin-left: 5px

.menu-top ul:first-child li:before 
    width: 6px
    height: 6px
    border-radius: 50%
    background: #fff
    content: ''
    top: 5px
    position: relative
    right: 4px


/* Menu Top Canal */
.menu-top-canal 
    padding: 0px 15px
    margin-top: 15px
    width: 100%

.menu-top-canal .top
    display: flex
    justify-content: space-between

.menu-top-canal .top span:not(#date_now_)
    font-weight: 900
    font-size: 14px
    line-height: 20px
    text-transform: uppercase

.menu-top-canal .top span:not(#date_now_) a
    color: #E82724

.menu-top-canal .top span#date_now_
    font-weight: normal
    font-size: 12px
    line-height: 20px
    color: #666666

.menu-top-canal .sub-canal ul 
    display: flex
    width: 100%
    overflow-x: scroll
    margin-top: 7px
    white-space: nowrap

.menu-top-canal .sub-canal ul li 
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-transform: capitalize
    margin-right: 20px

.menu-top-canal .sub-canal ul li a 
    color: #000000