.menu-auth
    position: fixed
    top: 0px
    z-index: 11
    background: #fff
    width: 100%
    left: 0px
    overflow-y: scroll
    height: auto
    border-bottom: 1px solid #E5E5E5
    box-shadow: 0 2px 2px 0 #3b3b3b93
    display: none

/* Head */
.menu-auth .m-head 
    border-bottom: 1px solid #E5E5E5
    padding: 0px 15px

.menu-auth .m-head ul li 
    display: flex
    justify-content: space-between
    align-items: center
    height: 40px
/* End Head */


/* Body */
.menu-auth .m-body 
    padding: 15px

.menu-auth .m-body h2 
    font-family: 'Poppins', sans-serif
    font-size: 18px
    font-weight: bold
    color: #34313F
    line-height: 12px
    margin-bottom: 15px

.menu-auth .m-body form 
    margin-bottom: 10px

.menu-auth .m-body form button[type=submit]
    margin-top: 15px

.menu-auth .m-body .wrap-form ul 
    margin-bottom: 25px

.menu-auth .m-body .wrap-form ul li 
    display: flex
    justify-content: space-between
    align-items: center
    height: 20px

.menu-auth .m-body .wrap-form ul li a 
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 17px
    color: #34313F

.menu-auth .m-body .auth-sosmed
    border-top: 1px solid #ECECED
    margin-top: 20px 
    padding-top: 15px

.menu-auth .m-body .wrap-form p.account_
    font-size: 14px
    font-family: 'Poppins', sans-serif
    font-weight: 400
    color: #34313F
    line-height: 24px 
    text-align: center

.menu-auth .m-body .wrap-form p.account_ a
    font-weight: 700
    color: #34313f

/* End Body */