.menu-left
    position: fixed
    z-index: 10
    background: #fff
    width: 100%
    left: 0px
    top: 0px
    padding: 0px 0px 0px 0px
    overflow-y: scroll
    height: 100vh
    font-family: 'Poppins', sans-serif
    display: none

/* Head */
.menu-left .m-head ul
    width: 100% 
    padding: 0px 15px 0px 15px

.menu-left .m-head ul li 
    display: flex
    justify-content: space-between
    align-items: center

.menu-left .m-head ul.account 
    display: flex
    width: 100%
    justify-content: start
    align-items: center
    background: #F6F6F6
    height: 40px

.menu-left .m-head ul.account li 
    margin-right: 15px
    font-size: 12px
    font-weight: normal

.menu-left .m-head ul.account li a 
    color: #000000

.menu-left .m-head ul.account li:last-child 
    border-left: 1px solid #000
    padding-left: 15px
    margin-right: 0px
/* End Head */


/* === Body === */

/* List Canal */
.menu-left .m-body .wrap-list-canal 
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.menu-left .m-body ul.list-canal
    padding: 7px 15px 15px 15px
    width: 50%

.menu-left .m-body ul.list-canal li 
    width: 100%

.menu-left .m-body ul.list-canal li .box
    border-bottom: 1px solid #E5E5E5
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    font-weight: 600
    padding: 7px 0px 
    flex-wrap: wrap

.menu-left .m-body ul.list-canal li:last-child .box
    border-bottom: 0px

.menu-left .m-body ul.list-canal li .box a 
    color: #000
    text-transform: uppercase
    width: 85%

.menu-left .m-body ul.list-canal li .box i
    color: #DADADA
    cursor: pointer
    width: 15%
    display: flex
    justify-content: flex-end

// .menu-left .m-body ul.list-canal li:nth-child(even) .box
//     margin-left: 10px

// .menu-left .m-body ul.list-canal li:nth-child(odd) .box
//     margin-right: 10px


.menu-left .m-body ul.list-canal li .box .sub-menu 
    display: block
    width: 100%
    margin-top: 5px
    display: none
    height: auto

.menu-left .m-body ul.list-canal li .box .sub-menu li 
    padding-left: 15px
    margin: 5px 0px
    width: 100%
    position: relative

.menu-left .m-body ul.list-canal li .box .sub-menu li:before 
    background: #000
    width: 5px
    height: 5px
    border-radius: 50%
    content: ''
    position: absolute
    left: 6px
    top: 6px

.menu-left .m-body ul.list-canal li .box .sub-menu li a
    width: 100%
/* End List Canal */

/* Other Canal */
.menu-left .other-canal
    height: 40px
    padding: 0px 15px
    display: flex
    align-items: center
    background:#F6F6F6

.menu-left .other-canal ul 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%

.menu-left .other-canal ul li 
    font-size: 12px
    color: #000000
    font-weight: normal
    text-transform: capitalize
    border-right: 1px solid #000
    display: flex
    justify-content: center
    width: 25%

.menu-left .other-canal ul li:last-child 
    border-right: 0px
    padding-right: 0px

.menu-left .other-canal ul li a 
    color: #000
/* End Other Canal */

/* === End Body === */


/* === Foot === */

/* Other Media */
.m-foot .other-media 
    background: #F6F6F6
    font-family: 'Poppins', sans-serif

.m-foot .other-media .item 
    padding: 20px 15px 0px 15px
    margin-bottom: 10px

.m-foot .other-media .item:last-child 
    padding-bottom: 20px

.m-foot .other-media .item ul 
    display: flex
    justify-content: center
    flex-wrap: wrap

.m-foot .other-media .item ul:first-child
    border-bottom: 1px dashed #DADADA
    margin-bottom: 15px
    padding-bottom: 15px 

.m-foot .other-media .item ul:first-child li
    text-transform: uppercase 

.m-foot .other-media .item ul:first-child li,
.m-foot .other-media .item ul:first-child li a
    color: #000

.m-foot .other-media .item ul li 
    font-size: 12px
    font-weight: 500  
    text-transform: lowercase
    
.m-foot .other-media .item ul:first-child li b
    font-size: 12px

.m-foot .other-media .item ul:last-child li 
    height: 13px
    align-items: center
    border-right: 1px solid #000
    padding-right: 10px
    margin-right: 10px
    margin-bottom: 10px
    display: flex

.m-foot .other-media .item ul li:last-child
    margin-right: 0px
    padding-right: 0px
    border-right: 0px

.m-foot .other-media .item ul li a 
    color: #444

/* Other Media */

/* Sosmed */
.m-foot .sosmed
    background: #fff
    padding-top: 5px
    font-family: 'Poppins', sans-serif
    max-width: 275px
    display: block
    margin: 0 auto

.m-foot .sosmed span b 
    font-size: 13px
    font-weight: bold
    color: #000
    display: block
    text-align: center

.m-foot .sosmed p
    text-align: center
    font-size: 12px
    font-weight: 400

.m-foot .sosmed .list-sosmed 
    display: flex
    flex-wrap: wrap
    justify-content: center

.m-foot .sosmed .list-sosmed li a 
    border: 1px solid #DADADA
    width: 47px
    height: 47px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 8px
    margin: 5px 3px

.m-foot .sosmed .list-sosmed li a i
    font-size: 28px
/* End Sosmed */

/* Other Info */
.m-foot .other-info
    margin-top: 15px
    background: linear-gradient(90deg, #E82724 0%, #41227A 100%)
    padding: 20px 15px 10px 20px
    font-family: 'Poppins', sans-serif
    position: relative

.m-foot .other-info ul 
    display: flex
    justify-content: center
    flex-wrap: wrap

.m-foot .other-info ul li 
    display: flex
    margin: 0px 10px 8px 0px
    padding-right: 10px
    font-size: 12px
    font-weight: 400
    border-right: 1px solid #fff
    text-transform: capitalize
    height: 13px
    align-items: center

.m-foot .other-info ul li:last-child
    border-right: 0px

.m-foot .other-info ul li a 
    color: #fff
/* End Other Info */

/* === End Foot === */
