/* Navbar top */
.navbar
    position: fixed
    border-bottom: 1px solid #E5E5E5
    background: #fff
    display: flex
    justify-content: space-between
    width: 100%
    padding: 0px 15px
    z-index: 9
    height: 40px
    box-shadow: 0 2px 2px 0 #3b3b3b93

.navbar ul 
    display: flex
    justify-content: space-between
    width: 100%

.navbar ul li
    display: inline-block
    list-style: none

.navbar ul li:last-child i:first-child:not(a i)
    margin-right: 10px
/* End Navbar top */


/* Search */
.wrap-search
    width: 100%
    position: absolute
    top: 40px
    background: #fff
    width: 100%
    left: 0px
    box-shadow: 0 2px 2px 0 #3b3b3b93
    display: none

.wrap-search form 
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    padding: 0px 7px

.wrap-search input[type=text]
    border: 0px
    outline: 0px
    padding: 8px 10px
    height: 30px
    width: 90%
    font-size: 14px

.wrap-search button
    border: 0px
    outline: 0px
    background: #b6302a
    color: #fff
    font-size: 14px
    padding: 7px 14px

/* End Search */

