/* Statik Content  */
.content.statik
    border-top: 1px solid#C4C4C4
    margin: 15px
    padding: 15px 0px

.content.statik hr 
    border: 0px
    border-top: 1px solid #c4c4c4

.content.statik h2 
    font-weight: bold
    color: #333333
    line-height: 17px
    margin-bottom: 7px
    font-size: 15px
    margin-top: 7px
    word-break: break-word

.content.statik h2 a
    color: #333333

.content.statik ul
    margin-bottom: 15px

.content.statik ul li
    font-weight: normal
    color:  #666666
    line-height: 17px
    font-size: 14px
    margin-bottom: 4px
    word-break: break-word

.content.statik ul li a
    color:  #666666

.content.statik p
    font-weight: normal
    color:  #666666
    line-height: 23px
    font-size: 14px
    margin-bottom: 13px
    word-break: break-word

.content.statik iframe
    width: 100%
    height: auto
    margin-bottom: 10px
/* Enc Statik Content */
