.list-tag 
    width: 100%
    margin-bottom: 20px

.list-tag ul 
    display: flex
    flex-wrap: wrap
    
.list-tag ul li
    list-style: none
    display: flex
    // height: 35px
    align-items: center
    margin-right: 7px
    margin-bottom: 5px

.list-tag ul li a
    border: 1px solid #DADADA
    display: inline-block
    border-radius: 5px
    color: #000
    font-weight: 600
    // white-space: nowrap
    padding: 5px 8px
    font-size: 14px