@font-face {
    font-family: my-icon;
    src: url(../webfonts/my-icon.eot?395742cf679ec51c64ad126b105fde59?#iefix) format("embedded-opentype"), url(../webfonts/my-icon.woff2?395742cf679ec51c64ad126b105fde59) format("woff2"), url(../webfonts/my-icon.woff?395742cf679ec51c64ad126b105fde59) format("woff")
}

.icon-svg {
    background-size: cover;
    display: inline-block;
    width: 27px;
    height: 27px
}

.icon-close {
    background-repeat: no-repeat;
    background-image: url(../images/icons/close.svg)
}

.icon-pencil {
    background-image: url(../images/icons/pencil.svg)
}

.icon-pencil,
.icon-user {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px
}

.icon-user {
    background-image: url(../images/icons/user.svg)
}

.icon-play-white {
    background-repeat: no-repeat;
    background-image: url(../images/icons/play-white.svg)
}

.icon:active,
.icon:focus,
.icon:hover,
.icon:visited {
    background: transparent
}

.icon {
    line-height: 1
}

.icon:before {
    font-family: my-icon!important;
    font-style: normal;
    font-weight: 400!important;
    vertical-align: top
}

.icon-bullseye:before {
    content: "\f101"
}

.icon-down:before {
    content: "\f102"
}

.icon-fb:before {
    content: "\f103"
}

.icon-google:before {
    content: "\f104"
}

.icon-ig:before {
    content: "\f105"
}

.icon-line:before {
    content: "\f106"
}

.icon-link:before {
    content: "\f107"
}

.icon-mail:before {
    content: "\f108"
}

.icon-play:before {
    content: "\f109"
}

.icon-right:before {
    content: "\f10a"
}

.icon-rss:before {
    content: "\f10b"
}

.icon-search:before {
    content: "\f10c"
}

.icon-telegram:before {
    content: "\f10d"
}

.icon-tw:before {
    content: "\f10e"
}

.icon-left-arrow:before {
    content: "\f10f"
}

.icon-right-arrow:before {
    content: "\f110"
}

.icon-wa:before {
    content: "\f111"
}

.icon-yt:before {
    content: "\f112"
}

*,
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #f4f4f4;
    /* background-color: #fff; */
    line-height: 1.5;
    font-size: 1.7rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.clearfix,
.clearfix:after,
.clearfix:before {
    clear: both;
    content: "";
    height: 0
}

.wrap {
    position: relative;
    width: 970px;
    margin: auto
}

.distance-top {
    height: 125px;
    display: block;
    position: relative
}

.base-content {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 15px;
    flex-wrap: wrap
}

.content {
    width: 670px;
    position: relative;
    padding-right: 15px
}

.sidebar {
    width: 300px;
    position: relative
}


/* .sidebar {
    margin-left: 670px;
    height: 100%;
    position: fixed;
    z-index: -9999;
    overflow-x: hidden;
} */


/* .text-head {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    border-bottom: 5px solid #e6e6e6;
    text-align: left;
    border-left: 5px solid rgb(15, 0, 222);
    padding-left: 20px;
    padding-left: 10px;
    padding-bottom: 3px;
} */


/* .text-head::after {
    width: 500px;
    content: "|";
} */


/* .head-title {
    display: block;
    width: 100%;
    margin-bottom: 12px
}

.head-title span,
.head-title span a {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase
} */

a {
    text-decoration: none
}

ol li,
ul li {
    list-style: none
}

.c-gr {
    background: linear-gradient(90deg, #e82724, #41227a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.c-default {
    color: #333333;
}


/* .c-news {
    color: #ed1c24!important
}

.c-lifestyle {
    color: #ea8f00!important
}

.c-bisnis {
    color: #ed1c24!important
}

.c-bola {
    color: #4ca80b!important
}

.c-entertainment {
    color: #6741dc!important
}

.c-otomotif {
    color: #b7141f!important
}

.c-tekno {
    color: #017bff!important
}

.c-sport {
    color: #4ca80b!important
} 

.c-foto,
.c-health,
.c-video {
    color: #ed1c24!important
}

.c-red {
    color: #b6302a!important
}*/

.c-network {
    color: #000!important
}

.c-fb {
    color: #4c6cad!important
}

.c-tw {
    color: #29b3f3!important
}

.c-line {
    color: #49d024!important
}

.c-wa {
    color: #5bb354!important
}

.c-link {
    color: #666;
    font-size: 23px!important
}

.c-rss {
    color: #ee8b30!important
}

.c-yt {
    color: #ff2a1a!important
}

.c-ig {
    background: linear-gradient(180deg, #e82724, #41227a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.bg-darkslateblue {
    background: #333333!important;
    color: #fff!important;
}

.bg-darkslateblue-2 {
    background: #333333!important;
    color: #fff!important;
    margin-top: -10px;
    margin-bottom: 10px;
}

.bg-gr {
    background: linear-gradient(90deg, #e82724, #41227a);
    border-radius: 20px;
}

.btn {
    width: 100%;
    max-width: 680px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff
}

.p-0 {
    padding: 1px!important
}

.pt-0 {
    padding-top: 1px!important
}

.pr-0 {
    padding-right: 1px!important
}

.pb-0 {
    padding-bottom: 1px!important
}

.pl-0 {
    padding-left: 1px!important
}

.plr-0 {
    padding: 0 1px!important
}

.ptb-0 {
    padding: 1px 0!important
}

.p-1 {
    padding: 2px!important
}

.pt-1 {
    padding-top: 2px!important
}

.pr-1 {
    padding-right: 2px!important
}

.pb-1 {
    padding-bottom: 2px!important
}

.pl-1 {
    padding-left: 2px!important
}

.plr-1 {
    padding: 0 2px!important
}

.ptb-1 {
    padding: 2px 0!important
}

.p-2 {
    padding: 3px!important
}

.pt-2 {
    padding-top: 3px!important
}

.pr-2 {
    padding-right: 3px!important
}

.pb-2 {
    padding-bottom: 3px!important
}

.pl-2 {
    padding-left: 3px!important
}

.plr-2 {
    padding: 0 3px!important
}

.ptb-2 {
    padding: 3px 0!important
}

.p-3 {
    padding: 4px!important
}

.pt-3 {
    padding-top: 4px!important
}

.pr-3 {
    padding-right: 4px!important
}

.pb-3 {
    padding-bottom: 4px!important
}

.pl-3 {
    padding-left: 4px!important
}

.plr-3 {
    padding: 0 4px!important
}

.ptb-3 {
    padding: 4px 0!important
}

.p-4 {
    padding: 5px!important
}

.pt-4 {
    padding-top: 5px!important
}

.pr-4 {
    padding-right: 5px!important
}

.pb-4 {
    padding-bottom: 5px!important
}

.pl-4 {
    padding-left: 5px!important
}

.plr-4 {
    padding: 0 5px!important
}

.ptb-4 {
    padding: 5px 0!important
}

.p-5 {
    padding: 6px!important
}

.pt-5 {
    padding-top: 6px!important
}

.pr-5 {
    padding-right: 6px!important
}

.pb-5 {
    padding-bottom: 6px!important
}

.pl-5 {
    padding-left: 6px!important
}

.plr-5 {
    padding: 0 6px!important
}

.ptb-5 {
    padding: 6px 0!important
}

.p-6 {
    padding: 7px!important
}

.pt-6 {
    padding-top: 7px!important
}

.pr-6 {
    padding-right: 7px!important
}

.pb-6 {
    padding-bottom: 7px!important
}

.pl-6 {
    padding-left: 7px!important
}

.plr-6 {
    padding: 0 7px!important
}

.ptb-6 {
    padding: 7px 0!important
}

.p-7 {
    padding: 8px!important
}

.pt-7 {
    padding-top: 8px!important
}

.pr-7 {
    padding-right: 8px!important
}

.pb-7 {
    padding-bottom: 8px!important
}

.pl-7 {
    padding-left: 8px!important
}

.plr-7 {
    padding: 0 8px!important
}

.ptb-7 {
    padding: 8px 0!important
}

.p-8 {
    padding: 9px!important
}

.pt-8 {
    padding-top: 9px!important
}

.pr-8 {
    padding-right: 9px!important
}

.pb-8 {
    padding-bottom: 9px!important
}

.pl-8 {
    padding-left: 9px!important
}

.plr-8 {
    padding: 0 9px!important
}

.ptb-8 {
    padding: 9px 0!important
}

.p-9 {
    padding: 10px!important
}

.pt-9 {
    padding-top: 10px!important
}

.pr-9 {
    padding-right: 10px!important
}

.pb-9 {
    padding-bottom: 10px!important
}

.pl-9 {
    padding-left: 10px!important
}

.plr-9 {
    padding: 0 10px!important
}

.ptb-9 {
    padding: 10px 0!important
}

.p-10 {
    padding: 11px!important
}

.pt-10 {
    padding-top: 11px!important
}

.pr-10 {
    padding-right: 11px!important
}

.pb-10 {
    padding-bottom: 11px!important
}

.pl-10 {
    padding-left: 11px!important
}

.plr-10 {
    padding: 0 11px!important
}

.ptb-10 {
    padding: 11px 0!important
}

.p-11 {
    padding: 12px!important
}

.pt-11 {
    padding-top: 12px!important
}

.pr-11 {
    padding-right: 12px!important
}

.pb-11 {
    padding-bottom: 12px!important
}

.pl-11 {
    padding-left: 12px!important
}

.plr-11 {
    padding: 0 12px!important
}

.ptb-11 {
    padding: 12px 0!important
}

.p-12 {
    padding: 13px!important
}

.pt-12 {
    padding-top: 13px!important
}

.pr-12 {
    padding-right: 13px!important
}

.pb-12 {
    padding-bottom: 13px!important
}

.pl-12 {
    padding-left: 13px!important
}

.plr-12 {
    padding: 0 13px!important
}

.ptb-12 {
    padding: 13px 0!important
}

.p-13 {
    padding: 14px!important
}

.pt-13 {
    padding-top: 14px!important
}

.pr-13 {
    padding-right: 14px!important
}

.pb-13 {
    padding-bottom: 14px!important
}

.pl-13 {
    padding-left: 14px!important
}

.plr-13 {
    padding: 0 14px!important
}

.ptb-13 {
    padding: 14px 0!important
}

.p-14 {
    padding: 15px!important
}

.pt-14 {
    padding-top: 15px!important
}

.pr-14 {
    padding-right: 15px!important
}

.pb-14 {
    padding-bottom: 15px!important
}

.pl-14 {
    padding-left: 15px!important
}

.plr-14 {
    padding: 0 15px!important
}

.ptb-14 {
    padding: 15px 0!important
}

.p-15 {
    padding: 16px!important
}

.pt-15 {
    padding-top: 16px!important
}

.pr-15 {
    padding-right: 16px!important
}

.pb-15 {
    padding-bottom: 16px!important
}

.pl-15 {
    padding-left: 16px!important
}

.plr-15 {
    padding: 0 16px!important
}

.ptb-15 {
    padding: 16px 0!important
}

.p-16 {
    padding: 17px!important
}

.pt-16 {
    padding-top: 17px!important
}

.pr-16 {
    padding-right: 17px!important
}

.pb-16 {
    padding-bottom: 17px!important
}

.pl-16 {
    padding-left: 17px!important
}

.plr-16 {
    padding: 0 17px!important
}

.ptb-16 {
    padding: 17px 0!important
}

.p-17 {
    padding: 18px!important
}

.pt-17 {
    padding-top: 18px!important
}

.pr-17 {
    padding-right: 18px!important
}

.pb-17 {
    padding-bottom: 18px!important
}

.pl-17 {
    padding-left: 18px!important
}

.plr-17 {
    padding: 0 18px!important
}

.ptb-17 {
    padding: 18px 0!important
}

.p-18 {
    padding: 19px!important
}

.pt-18 {
    padding-top: 19px!important
}

.pr-18 {
    padding-right: 19px!important
}

.pb-18 {
    padding-bottom: 19px!important
}

.pl-18 {
    padding-left: 19px!important
}

.plr-18 {
    padding: 0 19px!important
}

.ptb-18 {
    padding: 19px 0!important
}

.p-19 {
    padding: 20px!important
}

.pt-19 {
    padding-top: 20px!important
}

.pr-19 {
    padding-right: 20px!important
}

.pb-19 {
    padding-bottom: 20px!important
}

.pl-19 {
    padding-left: 20px!important
}

.plr-19 {
    padding: 0 20px!important
}

.ptb-19 {
    padding: 20px 0!important
}

.p-20 {
    padding: 21px!important
}

.pt-20 {
    padding-top: 21px!important
}

.pr-20 {
    padding-right: 21px!important
}

.pb-20 {
    padding-bottom: 21px!important
}

.pl-20 {
    padding-left: 21px!important
}

.plr-20 {
    padding: 0 21px!important
}

.ptb-20 {
    padding: 21px 0!important
}

.p-21 {
    padding: 22px!important
}

.pt-21 {
    padding-top: 22px!important
}

.pr-21 {
    padding-right: 22px!important
}

.pb-21 {
    padding-bottom: 22px!important
}

.pl-21 {
    padding-left: 22px!important
}

.plr-21 {
    padding: 0 22px!important
}

.ptb-21 {
    padding: 22px 0!important
}

.p-22 {
    padding: 23px!important
}

.pt-22 {
    padding-top: 23px!important
}

.pr-22 {
    padding-right: 23px!important
}

.pb-22 {
    padding-bottom: 23px!important
}

.pl-22 {
    padding-left: 23px!important
}

.plr-22 {
    padding: 0 23px!important
}

.ptb-22 {
    padding: 23px 0!important
}

.p-23 {
    padding: 24px!important
}

.pt-23 {
    padding-top: 24px!important
}

.pr-23 {
    padding-right: 24px!important
}

.pb-23 {
    padding-bottom: 24px!important
}

.pl-23 {
    padding-left: 24px!important
}

.plr-23 {
    padding: 0 24px!important
}

.ptb-23 {
    padding: 24px 0!important
}

.p-24 {
    padding: 25px!important
}

.pt-24 {
    padding-top: 25px!important
}

.pr-24 {
    padding-right: 25px!important
}

.pb-24 {
    padding-bottom: 25px!important
}

.pl-24 {
    padding-left: 25px!important
}

.plr-24 {
    padding: 0 25px!important
}

.ptb-24 {
    padding: 25px 0!important
}

.p-25 {
    padding: 26px!important
}

.pt-25 {
    padding-top: 26px!important
}

.pr-25 {
    padding-right: 26px!important
}

.pb-25 {
    padding-bottom: 26px!important
}

.pl-25 {
    padding-left: 26px!important
}

.plr-25 {
    padding: 0 26px!important
}

.ptb-25 {
    padding: 26px 0!important
}

.p-26 {
    padding: 27px!important
}

.pt-26 {
    padding-top: 27px!important
}

.pr-26 {
    padding-right: 27px!important
}

.pb-26 {
    padding-bottom: 27px!important
}

.pl-26 {
    padding-left: 27px!important
}

.plr-26 {
    padding: 0 27px!important
}

.ptb-26 {
    padding: 27px 0!important
}

.p-27 {
    padding: 28px!important
}

.pt-27 {
    padding-top: 28px!important
}

.pr-27 {
    padding-right: 28px!important
}

.pb-27 {
    padding-bottom: 28px!important
}

.pl-27 {
    padding-left: 28px!important
}

.plr-27 {
    padding: 0 28px!important
}

.ptb-27 {
    padding: 28px 0!important
}

.p-28 {
    padding: 29px!important
}

.pt-28 {
    padding-top: 29px!important
}

.pr-28 {
    padding-right: 29px!important
}

.pb-28 {
    padding-bottom: 29px!important
}

.pl-28 {
    padding-left: 29px!important
}

.plr-28 {
    padding: 0 29px!important
}

.ptb-28 {
    padding: 29px 0!important
}

.p-29 {
    padding: 30px!important
}

.pt-29 {
    padding-top: 30px!important
}

.pr-29 {
    padding-right: 30px!important
}

.pb-29 {
    padding-bottom: 30px!important
}

.pl-29 {
    padding-left: 30px!important
}

.plr-29 {
    padding: 0 30px!important
}

.ptb-29 {
    padding: 30px 0!important
}

.p-30 {
    padding: 31px!important
}

.pt-30 {
    padding-top: 31px!important
}

.pr-30 {
    padding-right: 31px!important
}

.pb-30 {
    padding-bottom: 31px!important
}

.pl-30 {
    padding-left: 31px!important
}

.plr-30 {
    padding: 0 31px!important
}

.ptb-30 {
    padding: 31px 0!important
}

.m-0 {
    margin: 1px!important
}

.mt-0 {
    margin-top: 1px!important
}

.mr-0 {
    margin-right: 1px!important
}

.mb-0 {
    margin-bottom: 1px!important
}

.ml-0 {
    margin-left: 1px!important
}

.mlr-0 {
    margin: 0 1px!important
}

.mtb-0 {
    margin: 1px 0!important
}

.m-1 {
    margin: 2px!important
}

.mt-1 {
    margin-top: 2px!important
}

.mr-1 {
    margin-right: 2px!important
}

.mb-1 {
    margin-bottom: 2px!important
}

.ml-1 {
    margin-left: 2px!important
}

.mlr-1 {
    margin: 0 2px!important
}

.mtb-1 {
    margin: 2px 0!important
}

.m-2 {
    margin: 3px!important
}

.mt-2 {
    margin-top: 3px!important
}

.mr-2 {
    margin-right: 3px!important
}

.mb-2 {
    margin-bottom: 3px!important
}

.ml-2 {
    margin-left: 3px!important
}

.mlr-2 {
    margin: 0 3px!important
}

.mtb-2 {
    margin: 3px 0!important
}

.m-3 {
    margin: 4px!important
}

.mt-3 {
    margin-top: 4px!important
}

.mr-3 {
    margin-right: 4px!important
}

.mb-3 {
    margin-bottom: 4px!important
}

.ml-3 {
    margin-left: 4px!important
}

.mlr-3 {
    margin: 0 4px!important
}

.mtb-3 {
    margin: 4px 0!important
}

.m-4 {
    margin: 5px!important
}

.mt-4 {
    margin-top: 5px!important
}

.mr-4 {
    margin-right: 5px!important
}

.mb-4 {
    margin-bottom: 5px!important
}

.ml-4 {
    margin-left: 5px!important
}

.mlr-4 {
    margin: 0 5px!important
}

.mtb-4 {
    margin: 5px 0!important
}

.m-5 {
    margin: 6px!important
}

.mt-5 {
    margin-top: 6px!important
}

.mr-5 {
    margin-right: 6px!important
}

.mb-5 {
    margin-bottom: 6px!important
}

.ml-5 {
    margin-left: 6px!important
}

.mlr-5 {
    margin: 0 6px!important
}

.mtb-5 {
    margin: 6px 0!important
}

.m-6 {
    margin: 7px!important
}

.mt-6 {
    margin-top: 7px!important
}

.mr-6 {
    margin-right: 7px!important
}

.mb-6 {
    margin-bottom: 7px!important
}

.ml-6 {
    margin-left: 7px!important
}

.mlr-6 {
    margin: 0 7px!important
}

.mtb-6 {
    margin: 7px 0!important
}

.m-7 {
    margin: 8px!important
}

.mt-7 {
    margin-top: 8px!important
}

.mr-7 {
    margin-right: 8px!important
}

.mb-7 {
    margin-bottom: 8px!important
}

.ml-7 {
    margin-left: 8px!important
}

.mlr-7 {
    margin: 0 8px!important
}

.mtb-7 {
    margin: 8px 0!important
}

.m-8 {
    margin: 9px!important
}

.mt-8 {
    margin-top: 9px!important
}

.mr-8 {
    margin-right: 9px!important
}

.mb-8 {
    margin-bottom: 9px!important
}

.ml-8 {
    margin-left: 9px!important
}

.mlr-8 {
    margin: 0 9px!important
}

.mtb-8 {
    margin: 9px 0!important
}

.m-9 {
    margin: 10px!important
}

.mt-9 {
    margin-top: 10px!important
}

.mr-9 {
    margin-right: 10px!important
}

.mb-9 {
    margin-bottom: 10px!important
}

.ml-9 {
    margin-left: 10px!important
}

.mlr-9 {
    margin: 0 10px!important
}

.mtb-9 {
    margin: 10px 0!important
}

.m-10 {
    margin: 11px!important
}

.mt-10 {
    margin-top: 11px!important
}

.mr-10 {
    margin-right: 11px!important
}

.mb-10 {
    margin-bottom: 11px!important
}

.ml-10 {
    margin-left: 11px!important
}

.mlr-10 {
    margin: 0 11px!important
}

.mtb-10 {
    margin: 11px 0!important
}

.m-11 {
    margin: 12px!important
}

.mt-11 {
    margin-top: 12px!important
}

.mr-11 {
    margin-right: 12px!important
}

.mb-11 {
    margin-bottom: 12px!important
}

.ml-11 {
    margin-left: 12px!important
}

.mlr-11 {
    margin: 0 12px!important
}

.mtb-11 {
    margin: 12px 0!important
}

.m-12 {
    margin: 13px!important
}

.mt-12 {
    margin-top: 13px!important
}

.mr-12 {
    margin-right: 13px!important
}

.mb-12 {
    margin-bottom: 13px!important
}

.ml-12 {
    margin-left: 13px!important
}

.mlr-12 {
    margin: 0 13px!important
}

.mtb-12 {
    margin: 13px 0!important
}

.m-13 {
    margin: 14px!important
}

.mt-13 {
    margin-top: 14px!important
}

.mr-13 {
    margin-right: 14px!important
}

.mb-13 {
    margin-bottom: 14px!important
}

.ml-13 {
    margin-left: 14px!important
}

.mlr-13 {
    margin: 0 14px!important
}

.mtb-13 {
    margin: 14px 0!important
}

.m-14 {
    margin: 15px!important
}

.mt-14 {
    margin-top: 15px!important
}

.mr-14 {
    margin-right: 15px!important
}

.mb-14 {
    margin-bottom: 15px!important
}

.ml-14 {
    margin-left: 15px!important
}

.mlr-14 {
    margin: 0 15px!important
}

.mtb-14 {
    margin: 15px 0!important
}

.m-15 {
    margin: 16px!important
}

.mt-15 {
    margin-top: 16px!important
}

.mr-15 {
    margin-right: 16px!important
}

.mb-15 {
    margin-bottom: 16px!important
}

.ml-15 {
    margin-left: 16px!important
}

.mlr-15 {
    margin: 0 16px!important
}

.mtb-15 {
    margin: 16px 0!important
}

.m-16 {
    margin: 17px!important
}

.mt-16 {
    margin-top: 17px!important
}

.mr-16 {
    margin-right: 17px!important
}

.mb-16 {
    margin-bottom: 17px!important
}

.ml-16 {
    margin-left: 17px!important
}

.mlr-16 {
    margin: 0 17px!important
}

.mtb-16 {
    margin: 17px 0!important
}

.m-17 {
    margin: 18px!important
}

.mt-17 {
    margin-top: 18px!important
}

.mr-17 {
    margin-right: 18px!important
}

.mb-17 {
    margin-bottom: 18px!important
}

.ml-17 {
    margin-left: 18px!important
}

.mlr-17 {
    margin: 0 18px!important
}

.mtb-17 {
    margin: 18px 0!important
}

.m-18 {
    margin: 19px!important
}

.mt-18 {
    margin-top: 19px!important
}

.mr-18 {
    margin-right: 19px!important
}

.mb-18 {
    margin-bottom: 19px!important
}

.ml-18 {
    margin-left: 19px!important
}

.mlr-18 {
    margin: 0 19px!important
}

.mtb-18 {
    margin: 19px 0!important
}

.m-19 {
    margin: 20px!important
}

.mt-19 {
    margin-top: 20px!important
}

.mr-19 {
    margin-right: 20px!important
}

.mb-19 {
    margin-bottom: 20px!important
}

.ml-19 {
    margin-left: 20px!important
}

.mlr-19 {
    margin: 0 20px!important
}

.mtb-19 {
    margin: 20px 0!important
}

.m-20 {
    margin: 21px!important
}

.mt-20 {
    margin-top: 21px!important
}

.mr-20 {
    margin-right: 21px!important
}

.mb-20 {
    margin-bottom: 21px!important
}

.ml-20 {
    margin-left: 21px!important
}

.mlr-20 {
    margin: 0 21px!important
}

.mtb-20 {
    margin: 21px 0!important
}

.m-21 {
    margin: 22px!important
}

.mt-21 {
    margin-top: 22px!important
}

.mr-21 {
    margin-right: 22px!important
}

.mb-21 {
    margin-bottom: 22px!important
}

.ml-21 {
    margin-left: 22px!important
}

.mlr-21 {
    margin: 0 22px!important
}

.mtb-21 {
    margin: 22px 0!important
}

.m-22 {
    margin: 23px!important
}

.mt-22 {
    margin-top: 23px!important
}

.mr-22 {
    margin-right: 23px!important
}

.mb-22 {
    margin-bottom: 23px!important
}

.ml-22 {
    margin-left: 23px!important
}

.mlr-22 {
    margin: 0 23px!important
}

.mtb-22 {
    margin: 23px 0!important
}

.m-23 {
    margin: 24px!important
}

.mt-23 {
    margin-top: 24px!important
}

.mr-23 {
    margin-right: 24px!important
}

.mb-23 {
    margin-bottom: 24px!important
}

.ml-23 {
    margin-left: 24px!important
}

.mlr-23 {
    margin: 0 24px!important
}

.mtb-23 {
    margin: 24px 0!important
}

.m-24 {
    margin: 25px!important
}

.mt-24 {
    margin-top: 25px!important
}

.mr-24 {
    margin-right: 25px!important
}

.mb-24 {
    margin-bottom: 25px!important
}

.ml-24 {
    margin-left: 25px!important
}

.mlr-24 {
    margin: 0 25px!important
}

.mtb-24 {
    margin: 25px 0!important
}

.m-25 {
    margin: 26px!important
}

.mt-25 {
    margin-top: 26px!important
}

.mr-25 {
    margin-right: 26px!important
}

.mb-25 {
    margin-bottom: 26px!important
}

.ml-25 {
    margin-left: 26px!important
}

.mlr-25 {
    margin: 0 26px!important
}

.mtb-25 {
    margin: 26px 0!important
}

.m-26 {
    margin: 27px!important
}

.mt-26 {
    margin-top: 27px!important
}

.mr-26 {
    margin-right: 27px!important
}

.mb-26 {
    margin-bottom: 27px!important
}

.ml-26 {
    margin-left: 27px!important
}

.mlr-26 {
    margin: 0 27px!important
}

.mtb-26 {
    margin: 27px 0!important
}

.m-27 {
    margin: 28px!important
}

.mt-27 {
    margin-top: 28px!important
}

.mr-27 {
    margin-right: 28px!important
}

.mb-27 {
    margin-bottom: 28px!important
}

.ml-27 {
    margin-left: 28px!important
}

.mlr-27 {
    margin: 0 28px!important
}

.mtb-27 {
    margin: 28px 0!important
}

.m-28 {
    margin: 29px!important
}

.mt-28 {
    margin-top: 29px!important
}

.mr-28 {
    margin-right: 29px!important
}

.mb-28 {
    margin-bottom: 29px!important
}

.ml-28 {
    margin-left: 29px!important
}

.mlr-28 {
    margin: 0 29px!important
}

.mtb-28 {
    margin: 29px 0!important
}

.m-29 {
    margin: 30px!important
}

.mt-29 {
    margin-top: 30px!important
}

.mr-29 {
    margin-right: 30px!important
}

.mb-29 {
    margin-bottom: 30px!important
}

.ml-29 {
    margin-left: 30px!important
}

.mlr-29 {
    margin: 0 30px!important
}

.mtb-29 {
    margin: 30px 0!important
}

.m-30 {
    margin: 31px!important
}

.mt-30 {
    margin-top: 31px!important
}

.mr-30 {
    margin-right: 31px!important
}

.mb-30 {
    margin-bottom: 31px!important
}

.ml-30 {
    margin-left: 31px!important
}

.mlr-30 {
    margin: 0 31px!important
}

.mtb-30 {
    margin: 31px 0!important
}


/* .base-content img {
    border-radius: 5px
} */

.img-thumb a {
    display: flex;
}

.base-content img.img-no-border {
    border-radius: 0
}

img[alt] {
    font-size: 8px
}

nav.navbar {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .1);
    height: 130px;
}

nav.navbar .list-other-portal {
    background: #333;
    width: 100%
}

nav.navbar .list-other-portal .other-portal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 39px;
    align-items: center;
    flex-wrap: wrap
}

nav.navbar .list-other-portal .other-portal li a {
    display: flex;
    align-items: center
}

nav.navbar .list-other-portal .other-portal li a span {
    font-family: Arial;
    font-size: 7px;
    color: #fff;
    margin-left: 5px
}

nav.navbar .list-other-portal .other-portal li a img {
    height: 20px;
    width: auto
}

nav .nav-middle {
    padding: 20px 0 10px
}

nav .nav-middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

nav .nav-middle ul li:nth-child(2) {
    width: 51%;
    display: flex;
    justify-content: space-between
}

nav .nav-middle .logo a:first-child {
    margin-right: 5px
}

nav .nav-middle .logo a img {
    height: 25px;
    width: auto
}

nav .nav-middle .search .wrap-search {
    background: #f4f4f4;
    border-radius: 25px;
    height: 34px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px
}

nav .nav-middle .search .wrap-search input {
    border: 0;
    outline: 0;
    background: transparent;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 12px;
    width: 280px;
}

nav .nav-middle .search .wrap-search i {
    font-size: 15px;
    color: #bfbfbf
}

nav .nav-middle .auth {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 15px
}

nav .nav-middle .auth .btn-signup {
    cursor: pointer;
    background: #000;
    border-radius: 20px;
    height: 34px;
    width: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-family: Poppins, sans-serif
}

nav .nav-menu-top {
    /* margin-top: 5px; */
    padding: 8px 0;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(38, 0, 98, 1) 74%);
}

nav .nav-menu-top ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    position: relative
}

nav .nav-menu-top ul li {
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12.2px;
    font-weight: 700
}

nav .nav-menu-top ul li a {
    color: #fff
}

nav .nav-menu-top ul li.active a,
nav .nav-menu-top ul li:hover,
nav .nav-menu-top ul li a:hover {
    /* color: #ed1c24 */
    color: #d4d4d4
}

nav .nav-menu-top ul li:hover:not(.sub-menu ul li)>.sub-menu {
    display: block
}

nav .nav-menu-top ul li .sub-menu:hover+a {
    color: #ed1c24
}

nav .nav-menu-top ul li .sub-menu {
    display: none;
    position: absolute;
    padding-top: 14px;
    top: 20px;
    width: 100%;
    left: 0
}

nav .nav-menu-top ul li .sub-menu .wrap-sub-menu {
    position: absolute;
    width: 100%;
    min-height: 187px;
    height: auto;
    left: 0;
    z-index: 5;
    background: #f6f6f6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 0 0 10px 10px
}

nav .nav-menu-top ul li .sub-menu ul {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 19px 15px;
    height: auto;
    min-height: 187px;
    background: #eaeaea;
    border-radius: 0 0 0 10px
}

nav .nav-menu-top ul li .sub-menu ul li {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #d1d1d1;
    text-transform: capitalize;
    width: 100%
}

nav .nav-menu-top ul li .sub-menu ul li.item-sub-menu.all-list,
nav .nav-menu-top ul li .sub-menu ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

nav .nav-menu-top ul li .sub-menu ul li a {
    color: #333;
    width: 100%;
    position: relative
}

nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu:hover+a.link-sub-menu,
nav .nav-menu-top ul li .sub-menu ul li a:hover {
    color: #ed1c24
}

nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu:hover+a.link-sub-menu:after,
nav .nav-menu-top ul li .sub-menu ul li a:hover:not(.list-news-sub-menu a):after {
    content: "\f10a";
    font-family: my-icon;
    position: absolute;
    right: 0;
    color: #c1c1c1;
    font-size: 20px;
    top: -3px
}

nav .nav-menu-top ul li .sub-menu ul li:hover>.list-news-sub-menu {
    display: block
}

nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu {
    position: absolute;
    display: none;
    left: 160px;
    width: 785px;
    padding-left: 60px;
    top: 0;
    padding-top: 15px
}

nav .nav-menu-top ul li .sub-menu ul li.item-sub-menu.all-list .list-news-sub-menu {
    display: block
}

nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu .wrap-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items {
    width: 33.333333333333%
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box {
    margin-bottom: 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .img-thumb {
    width: 30%;
    height: 70px;
    overflow: hidden
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .img-thumb img {
    width: 70px;
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info {
    width: 65%
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info h3 {
    font-style: normal;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 15px;
    word-break: break-word
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info h3 a {
    color: #333;
    position: relative;
    padding-right: 7px;
    display: block
}

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info span {
    color: #999;
    font-weight: 400;
    font-size: 10px;
    display: block
}

.nav-menu-bottom {
    background: #F5F5F5;
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.nav-menu-bottom ul {
    display: flex;
    justify-content: space-between
}

.nav-menu-bottom ul li {
    font-size: 11px;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%
}

.nav-menu-bottom ul li:first-child {
    justify-content: flex-start;
}

.nav-menu-bottom ul li:last-child {
    width: 90%;
    justify-content: flex-end;
    align-items: center
}

.nav-menu-bottom ul li:first-child a {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    /* min-width: 105px; */
    position: relative;
    margin: 0 5px;
}

.nav-menu-bottom ul li:last-child a {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    min-width: 30px;
    margin: 0 5px;
}

.nav-menu-bottom ul li a i {
    margin: 0 5px;
    font-size: 14px
}

.nav-menu-bottom ul li a.bg-gr i {
    margin-right: 0
}

.nav-menu-bottom ul li a.bg-gr {
    color: #fff;
    width: 120px
}

.nav-menu-bottom ul li a.br-right {
    border-right: .5px solid #d1d1d1
}

.nav-menu-regional {
    position: relative;
    display: flex;
    justify-content: center;
    display: none;
    z-index: 9;
}

.nav-menu-regional .wrap {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.nav-menu-regional .wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 39px
}

.nav-menu-regional .wrap ul li {
    font-size: 12px;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    border-right: 1px solid #fff;
    height: 15px
}

.nav-menu-regional .wrap ul li:last-child {
    border-right: 0
}

.nav-menu-regional .wrap ul li a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center
}

.headline {
    width: 100%;
    margin-bottom: 15px
}

.headline .headline-content {
    width: 100%;
    position: relative;
    /* border-radius: 5px; */
    overflow: hidden;
    padding-top: 0;
}

.headline .headline-content img {
    width: 100%;
    height: auto;
}

.headline .headline-content .info {
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, .4);
    padding: 15px 20px 10px 15px;
    /* border-radius: 0 0 5px 5px; */
    margin-bottom: 0
}

.headline .headline-content .info h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    word-break: break-word;
    margin-bottom: 50px
}

.headline .headline-content .info h1 a {
    color: #fff;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.headline .headline-content .info span {
    background: #dadada;
    padding: 5px 15px 5px 15px;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    text-transform: uppercase;
    border-radius: 35px;
    position: absolute;
    bottom: 18px
}

.headline .headline-content .info span a {
    width: 100%;
    text-align: center;
    display: block;
    color: #000
}

.headline-middle-content-x {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.headline-middle-content-x .headline-y {
    width: 50%
}

.headline-middle-content-x .headline-y .img-thumb {
    margin-bottom: 10px
}

.headline-middle-content-x .headline-y .img-thumb img {
    width: 100%
}

.headline-middle-content-x .headline-y .description h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    word-break: break-word;
    margin-bottom: 7px
}

.headline-middle-content-x .headline-y .description h3 a {
    color: #000;
}

.headline-middle-content-x .headline-y .description span {
    color: #999;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: block
}

.headline-middle-content-x.with-border-bottom {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 30px;
    margin-bottom: 30px
}

.headline-middle-content-x .headline-y:nth-child(2n) .list-item-y.microsite {
    padding-left: 10px
}

.headline-middle-content-x .headline-y:nth-child(odd) .list-item-y.microsite {
    padding-right: 10px
}

.headline-middle-content-y {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap
}

.headline-middle-content-y .headline-x {
    width: 100%;
    display: flex
}

.headline-middle-content-y .headline-x .img-thumb {
    width: 327px
}

.headline-middle-content-y .headline-x .img-thumb img {
    width: 100%;
    height: auto
}

.headline-middle-content-y .headline-x .description:not(.item .box .description) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    width: 325px
}

.headline-middle-content-y .headline-x .description h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    word-break: break-word;
    margin-bottom: 7px
}

.headline-middle-content-y .headline-x .description h3 a {
    color: #000;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.headline-middle-content-y .headline-x .description span {
    color: #999;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: block
}

.list-item-x {
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: -10px;
    padding: 15px 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
}

.list-item-x .item {
    width: 50%;
    margin-bottom: 15px
}

.list-item-x .item:last-child,
.list-item-x .item:nth-last-child(2) {
    margin-bottom: 0
}

.list-item-x .item:nth-child(odd) .box {
    padding-right: 7px
}

.list-item-x .item:nth-child(2n) .box {
    padding-left: 7px
}

.list-item-x .item .box .img-thumb {
    margin-right: 5px;
}

.list-item-x .item .box .description {
    width: 290px
}

.list-item-x2 {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    margin-top: -30px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.list-item-x2 .item {
    width: 50%;
    margin-bottom: 15px
}

.list-item-x2 .item:last-child,
.list-item-x2 .item:nth-last-child(2) {
    margin-bottom: 0
}

.list-item-x2 .item:nth-child(odd) .box {
    padding-right: 7px
}

.list-item-x2 .item:nth-child(2n) .box {
    padding-left: 7px
}

.list-item-x2 .item .box .img-thumb {
    margin-right: 5px;
}

.list-item-x2 .item .box .description {
    width: 290px
}

.list-item-y {
    padding-left: 20px
}

.list-item-y.microsite {
    padding-left: 0
}

.list-item-y .item {
    width: 100%;
    margin-bottom: 15px
}

.list-item-y .item:last-child {
    margin-bottom: 0
}

.list-item-y .item .box .img-thumb {
    margin-right: 10px
}

.list-item-y .item .box .description {
    /* width: 215px */
    width: 300px;
}

div[class*=list-item-] .item .box {
    display: flex;
    justify-content: space-between
}

div[class*=list-item-] .item .box .img-thumb {
    width: 100px;
    overflow: hidden;
    margin-bottom: 0
}

div[class*=list-item-] .item .box .img-thumb img {
    width: 70px;
    height: auto;
    border-radius: 5px 0 0 5px;
}

div[class*=list-item-] .item .box .description span {
    font-size: 11px;
    line-height: 12px;
    /* text-transform: uppercase; */
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    padding: 0 5px 0 5px
}

div[class*=list-item-] .item .box .description span a {
    display: block;
    text-transform: capitalize;
}

div[class*=list-item-] .item .box .description h2 {
    font-size: 14px;
    font-weight: 550;
    /* line-height: 16px; */
    line-height: 18px;
    margin-bottom: 5px;
    word-break: break-word
}

div[class*=list-item-] .item .box .description h2 a {
    /* color: #000 */
    color: #666666;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

div[class*=list-item-] .item .box .description span.date {
    color: #999;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    display: block;
    text-transform: capitalize;
    padding-left: 5px;
}

.date-list-item-y {
    color: #999;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    display: block;
    text-transform: capitalize;
    padding-left: 10px;
}

.list-video-x {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.list-video-x .wrap-item {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background: #f6f6f6;
    border-radius: 0 0 15px 15px;
    margin-bottom: 10px;
    /* box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .5) */
}

.list-video-x .wrap-item .item {
    width: 33.333333333%
}

.list-video-x .wrap-item .item .box {
    padding: 0 5px
}

.list-video-x .wrap-item .item .box .img-thumb {
    width: 100%;
    margin-bottom: 7px
}

.list-video-x .wrap-item .item .box .img-thumb a {
    position: relative
}

.list-video-x .wrap-item .item .box .img-thumb a img {
    width: 100%;
    height: auto
}

.list-video-x .wrap-item .item .box .img-thumb a i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px
}

.list-video-x .wrap-item .item .box h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px
}

.list-video-x .wrap-item .item .box h3 a {
    /* color: #000 */
    color: #666666;
}

.list-item-y-img-retangle {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column
}

.list-item-y-img-retangle .item {
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 180px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.list-item-y-img-retangle .item:last-child {
    margin-bottom: 0
}

.list-item-y-img-retangle .item .box .img-thumb {
    margin-right: 10px;
    width: 350px!important;
}

.list-item-y-img-retangle .item .box .img-thumb img {
    width: 100%!important;
}

.list-item-y-img-retangle .item .box .description {
    width: 453px!important;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.list-item-y-img-retangle .item .box .description span {
    line-height: 14px!important;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0!important
}

.list-item-y-img-retangle .item .box .description h2 {
    font-size: 22px!important;
    font-weight: 600!important;
    line-height: 28px!important;
    margin-bottom: 0!important
}

.list-item-y-img-retangle .item .box .description h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0;
    color: #868585;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 5px 0 10px;
}

.list-tag {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.list-tag li {
    background-color: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.list-tag li a {
    border: 1px solid #dadada;
    display: inline-block;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 12px
}

.top-detail {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}


/* .top-detail span#date-article {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666
} */

.date-article {
    padding-left: 450px;
    margin-top: -15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666
}

.top-detail ul {
    display: flex;
    align-items: center;
    height: 30px
}

.top-detail ul li {
    display: flex;
    align-items: center;
    margin-right: 3px
}

.top-detail ul li a {
    font-size: 12px;
    line-height: 20px;
    color: #666;
    text-transform: uppercase
}

.top-detail ul li a:after {
    content: "/";
    padding-left: 2px;
    color: #666;
    font-weight: 400
}

.top-detail ul li:last-child a:after {
    content: ""
}

.top-detail ul li:first-child a {
    color: #b6302a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900
}

.info {
    margin-bottom: 15px
}

.info h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    color: #000;
    margin-bottom: 10px
}

.info h2 {
    font-size: 12px;
    font-weight: 500;
    color: #929097;
    margin-bottom: 10px
}

.info .writer {
    display: flex;
    justify-content: flex-start
}

.info .writer span {
    border-right: 1px solid #666;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    display: inline-block;
    font-family: Poppins, sans-serif;
    margin-right: 7px;
    padding-right: 7px
}

.info .writer span:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0
}

.img-cover {
    margin-bottom: 15px
}

.img-cover .caption {
    background: #ebebeb;
    padding: 7px;
    word-break: break-word;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #666
}

.img-cover picture {
    margin-bottom: 0;
    display: flex
}

.img-cover img {
    border-radius: 0!important;
    width: 100%
}

.wrap-slide {
    flex-wrap: wrap;
    margin: 15px 0;
    align-items: center;
    justify-content: space-between
}

.wrap-slide,
.wrap-slide a {
    display: flex
}

.wrap-slide a i {
    color: #dadada;
    font-size: 45px
}

.slide-foto-thumb {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 580px
}

.slide-foto-thumb .item-foto {
    display: block;
    margin: 0 7px
}

.slide-foto-thumb .item-foto:first-child {
    margin-left: 0
}

.slide-foto-thumb .item-foto a {
    display: flex;
    width: 160px
}

.slide-foto-thumb .item-foto.active a {
    border: 2px solid red
}

.slide-foto-thumb .item-foto img {
    width: 100%;
    height: auto
}

.detail-content {
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
    position: relative
}

.detail-content ol li,
.detail-content p,
.detail-content ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin-bottom: 22px;
    word-break: break-word
}

.detail-content p strong {
    font-weight: 700
}

.detail-content p a {
    color: #b6302a;
    font-weight: 700
}

.detail-content ol,
.detail-content ul {
    margin-left: 15px;
    padding-left: 15px
}

.detail-content ol li,
.detail-content ul li {
    margin-bottom: 5px
}

.detail-content ol li {
    list-style: decimal
}

.detail-content ul li {
    list-style: circle
}

.detail-content img {
    border-radius: 0!important
}

.detail-content p.baca-juga-new {
    background: #f4f4f4;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px
}

.detail-content p.baca-juga-new span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #494652;
    display: block;
    margin-bottom: 8px
}

.detail-content p.baca-juga-new a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #8F4956;
    display: block
}

.detail-content figure.image,
.detail-content picture {
    margin-bottom: 10px
}

.detail-content figure.image img {
    width: 100%;
    display: block
}

.detail-content figure.image figcaption {
    word-break: break-word;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #666;
    background: #ebebeb;
    padding: 7px
}

.detail-content iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto 15px;
    border: 0
}

.detail-content div[class*=dailymotion-widget] {
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.detail-content h2 {
    font-size: 18px;
    margin-bottom: 5px
}

.detail-content h3 {
    font-size: 17px;
    margin-bottom: 5px
}

.detail-content h4 {
    font-size: 16px;
    margin-bottom: 5px
}

.detail-content a.inline-caption {
    font-weight: 700;
    font-size: 20px;
    color: #8F4956;
    display: block;
    padding: 15px;
    margin: 8px 0;
    background-color: #d9d9d9;
}

.detail-content a.inline-caption span.source {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.share-link {
    margin: 0 auto 30px;
    padding: 15px;
    background: #ebebeb;
    border-radius: 5px;
    justify-content: center
}

.share-link,
.share-link ul {
    display: flex
}

.share-link ul li {
    margin-right: 20px;
    display: flex;
    align-items: center
}

.share-link ul li span {
    font-size: 16px;
    line-height: 19px;
    color: #000
}

.share-link ul li a {
    /* border: 1px solid #868686; */
    border: 1px solid #dadada;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px
}

.share-link ul li a i {
    font-size: 20px
}

.share-link ul li a i.icon-link {
    font-size: 17px!important
}

.next-article {
    display: none;
    position: fixed;
    bottom: 50px;
    z-index: 999;
    background: #fff;
    width: 654px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}

.next-article .close-next {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 25px;
    cursor: pointer
}

.next-article .close-next i {
    height: 20px;
    width: 20px
}

.item--baca-juga-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.next-article .baca-juga-1 .item--baca-juga-inner {
    margin-bottom: 0
}

.item--baca-juga-inner .post-thumb {
    width: 250px;
    overflow: hidden;
    margin-right: 15px
}

.next-article .baca-juga-1 .item--baca-juga-inner .post-thumb {
    width: 254px
}

.next-article .baca-juga-1 .item--baca-juga-inner .post-thumb a {
    display: flex
}

.item--baca-juga-inner .item-content {
    width: 388px;
    overflow: hidden
}

.next-article .baca-juga-1 .item--baca-juga-inner .item-content {
    padding-top: 15px;
    width: 350px
}

.next-article .baca-juga-1 .item--baca-juga-inner .item-content h4 {
    font-size: 16px;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 10px;
    padding-bottom: 10px
}

.item--baca-juga-inner .item-content .post-title {
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0 10px
}

.item--baca-juga-inner .item-content .post-title a {
    color: #000
}

.item--baca-juga-inner .item-content span {
    text-transform: uppercase;
    display: block;
    font-size: 14px
}

.wrap-pagination {
    margin-bottom: 30px
}

.wrap-pagination .pagination-custom {
    display: flex
}

.wrap-pagination .pagination-custom li {
    font-size: 13px;
    margin-right: 10px;
    font-weight: 600
}

.wrap-pagination .pagination-custom li a {
    width: 30px;
    height: 30px;
    color: #000;
    border-radius: 50%;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center
}

.wrap-pagination .pagination-custom li:last-child a {
    width: auto;
    border-radius: 30px;
    padding: 0 20px
}

.wrap-pagination .pagination-custom li.active span {
    background: #000;
    width: 30px;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.next-page-detail {
    font-weight: 700;
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 7px;
    font-style: italic
}

.pagination {
    display: flex;
    flex-wrap: wrap
}

.pagination li {
    font-size: 13px;
    font-weight: 800;
    margin-right: 10px;
    margin-top: 7px
}

.pagination li.disabled span,
.pagination li a {
    color: #000;
    background: #ebebeb
}

.pagination li.active span,
.pagination li.disabled span,
.pagination li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.pagination li.active span {
    background: #e82724;
    color: #fff
}

.sidebar a.btn {
    margin: 0 auto;
    max-width: 100%!important
}

.foto-side,
.live-side,
.side-list-item-y-square {
    margin-bottom: 10px;
    /* padding-bottom: 15px; */
    /* border-bottom: 0.1px solid #d4d4d4; */
}

.head-title-side {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

.head-title-side span,
.head-title-side span a {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase
}

div[class*=side-list-item-] .item {
    width: 100%;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #d4d4d4; */
    height: 95px;
}

div[class*=side-list-item-] .item:last-child {
    margin-bottom: 0
}

div[class*=side-list-item-] .item .box {
    display: flex
}

div[class*=side-list-item-] .item .box .img-thumb {
    width: 88px;
    overflow: hidden
}

div[class*=side-list-item-] .item .box .img-thumb img {
    width: 100%;
    height: auto;
}

div[class*=side-list-item-] .item .box .description {
    width: 215px;
    padding-left: 15px
}

div[class*=side-list-item-] .item .box .description span {
    display: flex;
    font-size: 11px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

div[class*=side-list-item-] .item .box .description span span.date {
    border-left: 1px solid #bdbdbd;
    font-size: 11px;
    margin-left: 10px;
    padding-left: 10px;
    height: 12px;
    width: 50%;
}

div[class*=side-list-item-] .item .box .description h2 {
    font-size: 14px;
    font-weight: 550;
    /* line-height: 17px */
    line-height: 20px
}

.live-side .item {
    margin-bottom: 15px
}

.live-side .item:last-child {
    margin-bottom: 0
}

.live-side .item .box .img-thumb {
    position: relative
}

.live-side .item .box .img-thumb img {
    width: 100%;
    height: auto
}

.live-side .item .box .img-thumb i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px
}

.live-side .item .box h3 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px
}

.live-side .item .box h3 a {
    color: #000
}

.live-side .item .box span {
    display: block;
    font-size: 11px;
    line-height: 14px;
    margin-top: 7px;
    text-transform: uppercase
}

.live-side .item .box span a {
    color: #666
}

.foto-side ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.foto-side ul li {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start
}

.foto-side ul li:nth-child(2n) {
    justify-content: flex-end
}

.foto-side ul li a {
    display: flex;
    width: 145px;
    height: 145px
}

.foto-side ul li img {
    width: 100%;
    height: auto
}

footer {
    font-family: Poppins, sans-serif
}

.foot-other-portal {
    background: #f6f6f6
}

.foot-other-portal .item {
    padding: 20px 15px 0;
    margin-bottom: 10px
}

.foot-other-portal .item:last-child {
    padding-bottom: 20px
}

.foot-other-portal .item ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.foot-other-portal .item ul:first-child {
    border-bottom: 1px dashed #dadada;
    margin-bottom: 20px;
    padding-bottom: 10px
}

.foot-other-portal .item ul:first-child li {
    text-transform: uppercase
}

.foot-other-portal .item ul:first-child li,
.foot-other-portal .item ul:first-child li a {
    color: #000
}

.foot-other-portal .item ul li {
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase
}

.foot-other-portal .item ul:first-child li b {
    font-size: 18px
}

.foot-other-portal .item ul:last-child li {
    height: 13px;
    align-items: center;
    border-right: 1px solid #000;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex
}

.foot-other-portal .item ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0
}

.foot-other-portal .item ul li a {
    color: #444
}

.foot-sosmed {
    background: #fff;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
    width: 100%
}

.foot-sosmed span b {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    display: block;
    text-align: center;
    text-transform: uppercase
}

.foot-sosmed p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px
}

.foot-sosmed .list-sosmed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0
}

.foot-sosmed .list-sosmed li a {
    border: 1px solid #dadada;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 5px 3px
}

.foot-sosmed .list-sosmed li a i {
    font-size: 28px
}

.foot-info {
    background: linear-gradient(90deg, #e82724, #41227a);
    /* position: relative; */
    /* width: 63.4%;
    max-width: 1100px;
    min-width: 810px; */
    padding: 20px 0 10px 0;
}

.foot-info .bg-gr-foot {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), transparent)
}

.foot-info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.foot-info ul li {
    display: flex;
    margin: 0 10px 8px 0;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
    border-right: 1px solid #fff;
    text-transform: capitalize;
    height: 13px;
    align-items: center
}

.foot-info ul li:last-child {
    border-right: 0
}

.foot-info ul li a {
    color: #fff
}

.foot-info span {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px
}

.foot-info .wrap-form {
    border: 1px solid #fff;
    padding: 10px;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px
}

.foot-info .wrap-form form {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.foot-info .wrap-form button,
.foot-info .wrap-form input[type=email] {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 12px;
    color: #fff
}

.foot-info .wrap-form input[type=email] {
    width: 80%
}

.foot-info .wrap-form button {
    width: 10%
}

.foot-info .wrap-form button i {
    color: #fff;
    font-size: 20px
}

.foot-info .wrap-form ::-webkit-input-placeholder {
    color: #fff
}

.foot-info .wrap-form :-ms-input-placeholder {
    color: #fff
}

.foot-info .wrap-form ::placeholder {
    color: #fff
}

.foot-copy-right {
    padding: 13px 0
}

.foot-copy-right span {
    display: block;
    text-align: center;
    color: #333;
    font-size: 13px;
    line-height: 21px
}

.content.static .head-content-static {
    background: #ed1c24;
    color: #fff;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px
}

.content.static .head-content-static h1 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase
}

.content.static .head-content-static span#date_time_now_ {
    font-size: 12px;
    font-weight: 400
}

.row-static {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px
}

.row-static .col-static {
    width: 50%;
    box-sizing: border-box
}

.row-static .col-static:nth-child(odd) {
    padding-right: 7px
}

.row-static .col-static:nth-child(2n) {
    padding-left: 7px
}

.content.static hr {
    border: 0;
    border-top: 1px solid #c4c4c4
}

.content.static h2 {
    font-weight: 700;
    color: #333;
    line-height: 17px;
    margin-bottom: 7px;
    font-size: 16px;
    margin-top: 7px;
    word-break: break-word
}

.content.static h2 a {
    color: #333
}

.content.static ul {
    margin-bottom: 15px
}

.content.static ul li {
    font-weight: 400;
    color: #666;
    line-height: 17px;
    font-size: 16px;
    margin-bottom: 4px;
    word-break: break-word
}

.content.static ul li a {
    color: #666
}

.content.static p {
    font-weight: 400;
    color: #666;
    line-height: 23px;
    font-size: 16px;
    margin-bottom: 13px;
    word-break: break-word
}

.content.static iframe {
    max-width: 100%;
    margin-bottom: 10px
}

.wrap-search-indeks {
    margin: 5px 0 25px
}

.wrap-search-indeks select {
    background: #f6f6f6;
    padding: 5px 14px;
    outline: 0;
    border: 0
}

.wrap-search-indeks form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.wrap-search-indeks form select {
    width: 34%;
    height: 45px
}

.wrap-search-indeks form select:first-child {
    width: 44%
}

.wrap-search-indeks form button {
    width: 20%;
    height: 45px;
    background: #e82724;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    cursor: pointer
}


/* sticky ads */

.bg-ads-sticky-top {
    height: 250px;
    background: #d9d9d9;
    margin-top: 12px;
}

.ads-sticky-top {
    position: sticky;
    top: 16rem;
}

.bg-ads-sticky-side {
    height: 600px;
    background: #d9d9d9;
    margin-bottom: 10px;
}

.ads-sticky-side {
    position: sticky;
    top: 10rem;
}


/* end sticy ands */

.wrap-ads {
    margin-bottom: 30px
}

.wrap-ads a {
    display: flex
}

.wrap-ads-r,
div[id*=div-ad] {
    width: 100%;
    display: flex;
    justify-content: center
}

.sticky-ads {
    position: fixed;
    width: 100%;
    max-width: 160px;
    overflow: hidden;
    /* z-index: 7 */
}

.sticky-ads .wrap-ads {
    position: relative
}

.sticky-ads .wrap-ads img {
    width: 100%
}

.sticky-ads.left {
    margin-left: -170px
}

.sticky-ads.right {
    margin-left: 980px
}

.wrap-ads-bottom-sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 6
}

.wrap-ads-bottom-sticky .bottom-ads {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center
}

.wrap-ads-bottom-sticky i.icon-svg {
    position: absolute;
    right: 5px;
    cursor: pointer;
    padding: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
    filter: invert(14%) sepia(75%) saturate(5825%) hue-rotate(350deg) brightness(86%) contrast(108%)
}

.wrap-ads-leaderboard {
    position: relative;
    margin-top: 15px
}

.wrap-ads-leaderboard .ads-leaderboard {
    display: flex
}


/* start custom */

.text-head-side {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.text-head-2 {
    background-color: #f6f6f6;
    font-weight: 700;
    font-size: 22px;
    border-radius: 15px 15px 0 0;
    padding-left: 20px;
}

.text-list-item-y a {
    color: #666666;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 5px 0 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding-left: 10px;
}

.img-thumb-1 img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.img-thumb-2 img {
    width: 130px;
    height: 97.5px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.img-thumb-3 img {
    width: 200px;
    height: 150px;
    margin-right: 15px;
}

.img-thumb-4 img {
    width: 320px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.img-thumb-5 img {
    /* width: 110px;
    height: 80px; */
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}

.head-desc {
    padding-top: -10px
}

.social-icon {
    margin: 5px 8px
}

.headline-date {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    bottom: 22px;
    left: 130px;
}

.text-tag {
    color: #ec1b23;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.tag-header {
    /* background-color: #dadada; */
    background-color: #ebebeb;
    border-radius: 10px;
}

.slider-wrapper {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 30px
}

.slider-wrapper .wrap-item {
    padding: 0
}

.side-hr {
    border-bottom: 1px solid #d4d4d4;
    /* border-bottom: 1px dashed #0008ff; */
    margin: 10px 0 0 0;
}

p.text-head {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-align: left;
    /* border-bottom: 2px solid #d4d4d4; */
    margin-bottom: 5px;
}


/* share baru detail */

.share-baru-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 10px 0
}

.share-baru-header img {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 30px;
    width: 100%;
}

.share-baru-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 10px 0
}

.share-baru-bottom img {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 34px;
    width: 100%;
}


/* end share baru detail */


/* start dropdown navbar */

.dropbtn {
    background-color: transparent;
    color: #fff;
    font-size: 12.2px;
    font-family: Poppins, sans-serif;
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-indent: 3px;
    margin-left: -3px;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px dotted #d9d9d9;
}

.dropdown-content a:hover {
    background-color: #000
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #d4d4d4
}


/* end dropdown navbar */


/* sticky sidebar */

.sticky-side-home {
    position: -webkit-sticky;
    position: sticky;
    top: 9rem;
    margin-bottom: 5px
}


/* end sticky sidebar */


/* slide detail-foto.php */

#detail-foto .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border: 3px solid #E82724!important
}

#thumbnails {
    margin: 10px 0;
}


/* end slide detail-foto.php */