<h3 class="head-title mt20">
    <a href="#" class="c-red">
        Advertiser
    </a>
</h3>

<div class="list-item-y">
    <div class="item">
        <div class="box">
            <div class="thumb-img">
                <a href="<?php echo $url.'page=detail'; ?>">
                    <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" width="124px" height="69px" class="img-responsive" alt="berita terkini" />
                </a>
            </div>
            <div class="des">
                <h2>
                    <a href="<?php echo $url.'page=detail'; ?>">
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok

                    </a>
                </h2>
                <span>
                    <a href="<?php echo $url.'page=kanal'; ?>">
                        news
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="box">
            <div class="thumb-img">
                <a href="<?php echo $url.'page=detail'; ?>">
                    <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" width="124px" height="69px" class="img-responsive" alt="berita terkini" />
                </a>
            </div>
            <div class="des">
                <h2>
                    <a href="<?php echo $url.'page=detail'; ?>">
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok

                    </a>
                </h2>
                <span>
                    <a href="<?php echo $url.'page=kanal'; ?>">
                        news
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="box">
            <div class="thumb-img">
                <a href="<?php echo $url.'page=detail'; ?>">
                    <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" width="124px" height="69px" class="img-responsive" alt="berita terkini" />
                </a>
            </div>
            <div class="des">
                <h2>
                    <a href="<?php echo $url.'page=detail'; ?>">
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok
                        Rektor USU Terpilih Muryanto Amin Akan Dilantik Besok

                    </a>
                </h2>
                <span>
                    <a href="<?php echo $url.'page=kanal'; ?>">
                        news
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<style>
    @font-face {
        font-family: my-icon;
        src: url(../webfonts/my-icon.eot?a41946de4457c5476c8547c8f308bcd3?#iefix) format("embedded-opentype"), url(../webfonts/my-icon.woff2?a41946de4457c5476c8547c8f308bcd3) format("woff2"), url(../webfonts/my-icon.woff?a41946de4457c5476c8547c8f308bcd3) format("woff")
    }
    
    *,
     :after,
     :before {
        padding: 0;
        margin: 0;
        box-sizing: border-box
    }
    
    body {
        line-height: 1.5;
        font-size: 1.7rem;
        font-family: Lato, sans-serif;
        font-weight: 400;
        padding: 15px;
    }
    
    img[alt] {
        font-size: 8px
    }
    
    a {
        text-decoration: none
    }
    
    .head-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 12px;
        text-transform: capitalize
    }
    
    .c-red {
        /* color: #b6302a!important */
        color: #E82724!important
    }
    
    .list-item-y .item .box .des h2 {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        word-break: break-word
    }
    
    .list-item-y .item .box .des h2 a {
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .list-item-y .item .box .des span {
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 12px;
        display: block;
        margin-top: 4px;
        word-break: break-word;
        color: #666
    }
    
    .list-item-y .item .box .des span a {
        color: #666
    }
    
    .list-item-y {
        margin-bottom: 20px
    }
    
    .list-item-y .item {
        border-bottom: 1px dashed #dadada;
        padding-bottom: 10px;
        margin-bottom: 10px
    }
    
    .list-item-y .item:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0
    }
    
    .list-item-y .item .box {
        display: flex;
        flex-wrap: wrap
    }
    
    .list-item-y .item .box .thumb-img {
        width: 40%
    }
    
    .list-item-y .item .box .des {
        width: 60%;
        padding-left: 10px
    }
    
    .thumb-img {
        position: relative
    }
    
    .img-responsive {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block
    }
    
    @media not all and (min-resolution:0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {}
    }
</style>