
/* Base style */
*,
*::before,
*::after
    padding: 0px
    margin: 0px
    box-sizing: border-box

body
    line-height: 1.5
    font-size: 1.7rem
    font-family: 'Lato', sans-serif
    font-weight: 400

.clearfix,
.clearfix:before,
.clearfix:after
    clear: both
    content: ''
    height: 0px

img[alt] 
    font-size: 8px

.distance-from-top
    height: 40px

.wrap 
    position: relative

.content
    padding: 15px

.head-title 
    font-weight: 600
    font-size: 18px
    line-height: 22px
    margin-bottom: 12px
    text-transform: capitalize

.hr-gradient
    height: 4px
    width: 100%
    background: #f20303
    background: linear-gradient(90deg,#f20303 19%,#a80000 28%,#260062 100%)
    position: absolute
    top: 0px
    left: 0px
    z-index: 1

.img-logo 
    height: 18px
    width: auto

.logo-arkadia
    height: 40px
    width: auto

.bg-gr-foot 
    width: 100%
    position: absolute
    top: 0px
    left: 0px
    height: 10px
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)

/* Share Link */
.share-link
    margin: 0px -15px 20px -15px
    padding: 15px
    background: #F6F6F6
.share-link ul
    display: flex
.share-link ul li 
    margin-right: 8px
    display: flex
    align-items: center
.share-link ul li span 
    font-size: 16px
    line-height: 19px
    color: #000
.share-link ul li a
    border: 1px solid #DADADA
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px
.share-link ul li a i 
    font-size: 20px
.share-link ul li a i.icon-link
    font-size: 17px !important
/* End Share Link */

/* Components */
@import './components/typhography'
@import './components/color'
@import './components/icons'
@import './components/input'
@import './components/button'
@import './components/animations'

/* Blocks */
@import './blocks/navbar'
@import './blocks/footer'

/* Components Block */
@import './blocks/menu-left'
@import './blocks/menu-auth'
@import './blocks/menu-top'
@import './blocks/menu-top-regional'
@import './blocks/headline'
@import './blocks/list-item'
@import './blocks/foto'
@import './blocks/video'
@import './blocks/tag'
@import './blocks/ads'
@import './blocks/comment'
@import './blocks/detail'
@import './blocks/statik'
@import './blocks/pagination'

/* Resposive */
@import './components/responsive'