/* Search Form */
@-webkit-keyframes expand-open-search
    0%
        height: 0px
    50%
        height: 20px
    100%
        height: 40px

@-webkit-keyframes expand-close-search
    0%
        height: 40px
    50%
        height: 20px
    100%
        height: 0px
    

/* Sub Menu */
@-webkit-keyframes expand-open-sub-menu
    0%
        height: 0%
    50%
        height: 50%
    100%
        height: 100%

@-webkit-keyframes expand-close-sub-menu
    0%
        height: 100%
    50%
        height: 50%
    100%
        height: 0%


/* Menu Left */
@-webkit-keyframes expand-open-menu-left
    0%
        width: 0%
    50%
        width: 50%
    100%
        width: 100%

@-webkit-keyframes expand-close-menu-left
    0%
        width: 100%
    // 25%
    //     width: 75%
    50%
        width: 50%
    // 75%
    //     width: 25%
    100%
        width: 0%