.btn 
    width: 100%
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    border: 0px
    outline: 0px
    border-radius: 10px
    font-family: 'Lato', sans-serif
    font-size: 18px
    font-weight: 600
    color: #FFFFFF
    margin-bottom: 15px

.btn-sosmed 
    font-family: 'Lato', sans-serif
    font-size: 15px
    font-weight: normal
    justify-content: flex-start
    padding: 0px 10px

.btn-sosmed span:first-child
    border-right: 1px solid #fff
    padding-right: 10px
    margin-right: 20px
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 60%

.btn-sosmed i.icon
    font-size: 20px


