/* Font Color */
.c-gr 
    background: linear-gradient(180deg, #E82724 0%, #41227A 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.c-red 
    color: #b6302a !important

.c-fb
    color: #4C6CAD !important

.c-tw 
    color: #29B3F3 !important

.c-line 
    color: #49D024 !important

.c-wa 
    color: #5BB354 !important

.c-link 
    color: #666666
    font-size: 23px !important

.c-rss
    color: #EE8B30 !important

.c-yt
    color: #FF2A1A !important

.c-ig 
    background: linear-gradient(180deg, #E82724 0%, #41227A 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent



/* Background Color */
.bg-darkslateblue
    background: #37356C !important

.bg-silver 
    background: #BDBDBD !important

.bg-steelblue
    background: #4C6CAD !important

.bg-tomato
    background: #F54950 !important


/* Filter Color Svg */
.f-netzme
    filter: invert(43%) sepia(99%) saturate(1131%) hue-rotate(179deg) brightness(96%) contrast(85%)