.icon-svg 
    background-size: cover
    display: inline-block
    width: 18px
    height: 18px

.icon-menu 
    background-repeat: no-repeat
    background-image: url('../images/icons/menu.svg')
    width: 15px
    height: 15px

.icon-close
    background-repeat: no-repeat
    background-image: url('../images/icons/close.svg')

.icon-search
    background-repeat: no-repeat
    background-image: url('../images/icons/search.svg')

.icon-user
    background-repeat: no-repeat
    background-image: url('../images/icons/user.svg')

.icon-netzme
    background-repeat: no-repeat
    background-image: url('../images/icons/netzme.svg')

.icon-play-white
    background-repeat: no-repeat
    background-image: url('../images/icons/play-white.svg')

.icon:hover,
.icon:active,
.icon:visited,
.icon:focus
    background: transparent
    