.input-group
    background: #EDECED
    border-radius: 5px
    width: 100%
    padding: 3px 10px
    margin-bottom: 10px 
    height: 42px
    display: flex
    align-items: center

.input-group input 
    width: 100%
    background: transparent
    color: #8D8D8D
    font-size: 12px
    font-family: 'Lato', sans-serif
    border: 0px
    outline: 0px

.wrap-checkbox label 
    font-family: 'Lato', sans-serif
    font-size: 14px
    color: #34313F
    line-height: 17px
    font-weight: normal

/* Form Search Indeks Page */
.wrap-search-indeks 
    margin: 15px 0px 25px 0px
.wrap-search-indeks select 
    background: #F6F6F6
    padding: 10px 14px
    outline: 0px
    border: 0px
.wrap-search-indeks form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.wrap-search-indeks form select
    width: 38%
.wrap-search-indeks form select:first-child
    width: 60%
.wrap-search-indeks form button
    width: 100%
    height: 40px
    background: #E82724
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    border: 0px
    outline: 0px
    margin-top: 10px
