.thumb-img 
    position: relative
    
picture,
.img-responsive
    width: 100%
    height: auto
    max-width: 100%
    display: block


picture img 
    width: 100%
    height: auto

// For Safari Only 
@media not all and (min-resolution:.001dpcm)
    @supports (-webkit-appearance:none) and (stroke-color:transparent)
        picture img 
            height: 100%


