.wrap-ads 
    margin-bottom: 30px
    
.wrap-ads a
    display: flex

div[id*="div-ad"],
.wrap-ads-r 
    width: 100%
    display: flex
    justify-content: center

/* Sticky Left & Right */
.sticky-ads 
    position: fixed
    width: 100%
    max-width: 160px
    overflow: hidden
    z-index: 7
    
.sticky-ads .wrap-ads
    position: relative

.sticky-ads .wrap-ads img 
    width: 100%

.sticky-ads.left 
    margin-left: -170px
.sticky-ads.right
    margin-left: 980px
/* End Sticky Left & Right */


/* Sticky Bottom */
.wrap-ads-bottom-sticky 
    position: fixed
    width: 100%
    bottom: 0px
    display: flex
    justify-content: center
    z-index: 6

.wrap-ads-bottom-sticky .bottom-ads
    position: relative    
    height: auto
    display: flex
    justify-content: center

.wrap-ads-bottom-sticky i.icon-svg
    position: absolute
    right: 5px
    cursor: pointer
    padding: 10px
    top: 5px
    width: 20px
    height: 20px
    filter: invert(14%) sepia(75%) saturate(5825%) hue-rotate(350deg) brightness(86%) contrast(108%)
/* End Sticky Bottom */

/* Leadeboard */
.wrap-ads-leaderboard
    position: relative
    margin-top: 15px
.wrap-ads-leaderboard .ads-leaderboard 
    display: flex