/* Top */
.top-detail
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center

.top-detail span#date-article
    font-weight: normal
    font-size: 12px
    line-height: 20px
    color: #666666

.top-detail ul 
    display: flex
    align-items: center
    height: 30px

.top-detail ul li
    display: flex
    align-items: center
    margin-right: 3px

.top-detail ul li a
    font-size: 12px
    line-height: 20px
    color: #666666
    text-transform: uppercase

.top-detail ul li a::after 
    content: '/'
    padding-left: 2px
    color: #666666
    font-weight: 400

.top-detail ul li:last-child a::after 
    content: ''

.top-detail ul li:first-child a
    // color: #E82724
    color: #b6302a
    font-size: 14px
    line-height: 20px
    font-weight: 900

/* End Top */

/* Info */
.info
    margin-bottom: 15px

.info h1 
    font-size: 30px
    font-weight: 900
    line-height: 36px
    color: #000000
    margin-bottom: 10px

.info .writer 
    display: flex
    justify-content: flex-start

.info .writer span 
    border-right: 1px solid #666
    color: #666
    font-size: 12px
    font-weight: normal
    line-height: 10px
    display: inline-block
    font-family: 'Poppins', sans-serif
    margin-right: 7px
    padding-right: 7px

.info .writer span:last-child
    margin-right: 0px
    padding-right: 0px
    border-right: 0px

/* End Info */

/* Cover Image */
.img-cover 
    margin-bottom: 15px
.img-cover .caption
    background: #EBEBEB
    padding: 7px
    word-break: break-word
    font-family: 'Poppins', sans-serif
    font-size: 12px
    color: #666666
.img-cover picture
    margin-bottom: 0px
    display: flex
.img-cover img 
    border-radius: 0px !important
    width: 100%
/* End Cover Image */


/* Slide foto for detail foto */ 
.wrap-slide 
    display: flex
    flex-wrap: wrap
    margin: 15px 0px
    align-items: center
    justify-content: space-between
.wrap-slide a 
    display: flex
.wrap-slide a i 
    color: #DADADA
    font-size: 45px
.slide-foto-thumb 
    display: flex
    flex-wrap: nowrap
    overflow-x: scroll
    width: 580px
.slide-foto-thumb .item-foto
    display: block
    margin: 0px 7px
.slide-foto-thumb .item-foto:first-child
    margin-left: 0px
.slide-foto-thumb .item-foto a 
    display: flex
    width: 160px
.slide-foto-thumb .item-foto.active a 
    border: 2px solid #FF0000
.slide-foto-thumb .item-foto img 
    width: 100%
    height: auto
/* End Slide foto for detail foto */ 


/* Detail Content */
.detail-content
    margin-bottom: 30px
    font-family: 'Lato', sans-serif
    position: relative

.detail-content ul li, 
.detail-content ol li, 
.detail-content p 
    font-weight: 400
    font-size: 16px
    line-height: 26px
    color: #000000
    margin-bottom: 22px
    word-break: break-word

.detail-content p strong
    font-weight: 700

.detail-content p a 
    // color: #E82724
    color: #b6302a
    font-weight: 700

.detail-content ol,
.detail-content ul
    margin-left: 15px
    padding-left: 15px

.detail-content ul li,
.detail-content ol li
    margin-bottom: 5px

.detail-content ol li
    list-style: decimal

.detail-content ul li
    list-style: circle

.detail-content img 
    border-radius: 0px !important
/* End Detail Content */


/* Baca Juga On Article */
.detail-content p.baca-juga-new
    background:  #F4F4F4
    border: 0px
    border-radius: 5px
    padding: 20px
    margin-top: 20px
.detail-content p.baca-juga-new span 
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #494652
    display: block
    margin-bottom: 8px
.detail-content p.baca-juga-new a
    font-weight: 700
    font-size: 20px
    line-height: 24px
    color:  #494652
    display: block

.detail-content figure.image,
.detail-content picture 
    margin-bottom: 10px

.detail-content figure.image img
    width: 100%
    display: block

.detail-content figure.image figcaption
    word-break: break-word
    font-family: 'Poppins', sans-serif
    font-size: 12px
    color: #666666
    background: #EBEBEB
    padding: 7px

.detail-content iframe
    // width: 560px
    // height: 315px
    max-width: 100%
    display: block
    margin: 0 auto 15px auto
    border: 0px

.detail-content div[class*="dailymotion-widget"]
    width: 100%
    display: block
    margin-bottom: 10px

.detail-content h2 
    font-size: 18px
    margin-bottom: 5px

.detail-content h3 
    font-size: 17px
    margin-bottom: 5px

.detail-content h4
    font-size: 16px
    margin-bottom: 5px
/* Baca Juga On Article */

/* Share Link */
.share-link
    margin: 0px auto 30px auto
    padding: 15px
    background: #F6F6F6
    border-radius: 5px
    display: flex
    justify-content: center
.share-link ul
    display: flex
.share-link ul li 
    margin-right: 20px
    display: flex
    align-items: center
.share-link ul li span 
    font-size: 16px
    line-height: 19px
    color: #000
.share-link ul li a
    border: 1px solid #DADADA
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px
.share-link ul li a i 
    font-size: 20px
.share-link ul li a i.icon-link
    font-size: 17px !important
/* End Share Link */

/* Baca Selanjutnya */ 
.next-article 
    display: none
    position: fixed
    bottom: 50px
    z-index: 999
    background: #fff
    width: 654px
    border-radius: 10px
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px
.next-article .close-next
    position: absolute
    top: 7px
    right: 15px
    font-size: 25px
    cursor: pointer
.next-article .close-next i 
    height: 20px
    width: 20px
.item--baca-juga-inner 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-bottom: 10px
.next-article .baca-juga-1 .item--baca-juga-inner
    margin-bottom: 0px
.item--baca-juga-inner .post-thumb
    width: 250px
    overflow: hidden
    margin-right: 15px
.next-article .baca-juga-1 .item--baca-juga-inner .post-thumb
    width: 254px
.next-article .baca-juga-1 .item--baca-juga-inner .post-thumb a
    display: flex
.item--baca-juga-inner .item-content
    width: 388px
    overflow: hidden
.next-article .baca-juga-1 .item--baca-juga-inner .item-content
    padding-top: 15px
.next-article .baca-juga-1 .item--baca-juga-inner .item-content
    width: 350px
.next-article .baca-juga-1 .item--baca-juga-inner .item-content h4
    font-size: 16px
    border-bottom: 1px solid #bebebe
    margin-bottom: 10px
    padding-bottom: 10px
.item--baca-juga-inner .item-content .post-title 
    margin: 0px 0px 10px 0px
    font-size: 18px
    line-height: 24px
    margin-top: 5px
.item--baca-juga-inner .item-content .post-title  a
    color: #000000
.item--baca-juga-inner .item-content span
    text-transform: uppercase
    display: block
    font-size: 14px
/* End Baca Selanjutnya */ 