footer 
    font-family: 'Poppins', sans-serif

/* Foot other portal */ 
.foot-other-portal 
    background: #F6F6F6

.foot-other-portal .item 
    padding: 20px 15px 0px 15px
    margin-bottom: 10px

.foot-other-portal .item:last-child 
    padding-bottom: 20px

.foot-other-portal .item ul 
    display: flex
    justify-content: center
    flex-wrap: wrap

.foot-other-portal .item ul:first-child
    border-bottom: 1px dashed #DADADA
    margin-bottom: 20px
    padding-bottom: 10px  

.foot-other-portal .item ul:first-child li 
    text-transform: uppercase 

.foot-other-portal .item ul:first-child li,
.foot-other-portal .item ul:first-child li a
    color: #000

.foot-other-portal .item ul li 
    font-size: 14px
    font-weight: 500  
    text-transform: lowercase
    
.foot-other-portal .item ul:first-child li b
    font-size: 18px

.foot-other-portal .item ul:last-child li 
    height: 13px
    align-items: center
    border-right: 1px solid #000
    padding-right: 10px
    margin-right: 10px
    margin-bottom: 20px
    display: flex

.foot-other-portal .item ul li:last-child
    margin-right: 0px
    padding-right: 0px
    border-right: 0px

.foot-other-portal .item ul li a 
    color: #444444
/* End Foot other portal */ 


/* Foot Sosmed */ 
.foot-sosmed
    background: #fff
    padding: 20px 0px
    display: block
    margin: 0 auto
    width: 100%

.foot-sosmed span b 
    font-size: 18px
    font-weight: bold
    color: #000
    display: block
    text-align: center
    text-transform: uppercase

.foot-sosmed p
    text-align: center
    font-size: 14px
    font-weight: 400
    margin-top: 5px

.foot-sosmed .list-sosmed 
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 10px 0px

.foot-sosmed .list-sosmed li a 
    border: 1px solid #DADADA
    width: 47px
    height: 47px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 8px
    margin: 5px 3px

.foot-sosmed .list-sosmed li a i
    font-size: 28px
/* End Foot Sosmed */ 

/* Foot Info */ 
.foot-info
    background: linear-gradient(90deg,#e82724,#41227a)
    padding: 20px 15px 10px 20px
    position: relative
    width: 100%
    padding: 25px 0px

.foot-info .bg-gr-foot 
    width: 100%
    position: absolute
    top: 0px
    left: 0px
    height: 10px
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)

.foot-info ul 
    display: flex
    justify-content: center
    flex-wrap: wrap

.foot-info ul li 
    display: flex
    margin: 0px 10px 8px 0px
    padding-right: 10px
    font-size: 13px
    font-weight: 400
    border-right: 1px solid #fff
    text-transform: capitalize
    height: 13px
    align-items: center

.foot-info ul li:last-child
    border-right: 0px

.foot-info ul li a 
    color: #fff

.foot-info span 
    display: block
    text-align: center
    padding-top: 5px
    font-weight: 700
    color: #fff
    font-size: 16px
    margin-bottom: 10px
    margin-top: 10px

.foot-info .wrap-form 
    border: 1px solid #fff
    padding: 10px
    max-width: 400px
    display: block
    margin: 0 auto
    border-radius: 10px

.foot-info .wrap-form form 
    height: auto
    display: flex
    align-items: center
    justify-content: space-between

.foot-info .wrap-form button,
.foot-info .wrap-form input[type=email]
    border: 0px
    outline: 0px
    background: transparent
    font-size: 12px
    color: #fff
.foot-info .wrap-form input[type=email]
    width: 80%
.foot-info .wrap-form button
    width: 10%

.foot-info .wrap-form button i 
    color: #fff
    font-size: 20px

.foot-info .wrap-form ::-webkit-input-placeholder
    color: #fff

.foot-info .wrap-form :-ms-input-placeholder
    color: #fff

.foot-info .wrap-form ::placeholder
    color: #fff
/* End Foot Info */


/* Foot Copyright */
.foot-copy-right
    padding: 13px 0px

.foot-copy-right span 
    display: block
    text-align: center
    color: #333333
    font-size: 13px
    line-height: 21px
/* End Foot Copyright */