/* Headline Big */
.headline 
    width: 100%
    margin-bottom: 15px

.headline .headline-content
    width: 100%
    position: relative
    border-radius: 5px
    overflow: hidden

.headline .headline-content img 
    width: 100%
    height: auto

.headline .headline-content .info 
    position: absolute
    bottom: 10px
    background: rgba(0, 0, 0, 0.4)
    padding: 15px 20px 10px 15px
    border-radius: 0px 0px 5px 5px
    margin-bottom: 0px

.headline .headline-content .info h1 
    font-size: 24px
    line-height: 28px
    font-weight: 900
    word-break: break-word
    margin-bottom: 0px

.headline .headline-content .info h1 a 
    color: #fff

.headline .headline-content .info span
    background: #ED1C24
    padding: 5px 15px
    font-size: 11px
    font-weight: bold
    display: flex
    text-transform: uppercase
    border-radius: 5px
    position: absolute
    top: -16px

.headline .headline-content .info span a 
    width: 100%
    text-align: center
    display: block
    color: #fff
/* End Headline Big */


/* Headline middle content x */ 
.headline-middle-content-x
    margin-bottom: 30px
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.headline-middle-content-x .headline-y
    width: 50%

.headline-middle-content-x .headline-y .img-thumb
    margin-bottom: 10px

.headline-middle-content-x .headline-y .img-thumb img 
    width: 100%

.headline-middle-content-x .headline-y .description h3
    font-size: 20px
    font-weight: 600
    line-height: 24px
    word-break: break-word 
    margin-bottom: 7px

.headline-middle-content-x .headline-y .description h3 a
    color: #000000 

.headline-middle-content-x .headline-y .description span 
    color: #999999
    font-weight: 400
    font-size: 12px
    line-height: 12px
    display: block

/* Microsite */ 
.headline-middle-content-x.with-border-bottom
    border-bottom: 1px solid #BDBDBD
    padding-bottom: 30px
    margin-bottom: 30px
.headline-middle-content-x .headline-y:nth-child(even) .list-item-y.microsite
    padding-left: 10px
.headline-middle-content-x .headline-y:nth-child(odd) .list-item-y.microsite
    padding-right: 10px
/* End Microsite */ 

/* End Headline middle content x */ 

/* Headline middle content y */ 
.headline-middle-content-y
    display: flex
    justify-content: space-between
    flex-direction: column
    flex-wrap: wrap

.headline-middle-content-y .headline-x
    width: 100%
    display: flex
    
.headline-middle-content-y .headline-x .img-thumb
    width: 327px

.headline-middle-content-y .headline-x .img-thumb img 
    width: 100%
    height: auto

.headline-middle-content-y .headline-x .description:not(.item .box .description)
    display: flex
    justify-content: center
    flex-direction: column
    padding-left: 20px
    width: 325px

.headline-middle-content-y .headline-x .description h3
    font-size: 26px
    font-weight: 600
    line-height: 32px
    word-break: break-word 
    margin-bottom: 7px

.headline-middle-content-y .headline-x .description h3 a
    color: #000000 

.headline-middle-content-y .headline-x .description span 
    color: #999999
    font-weight: 400
    font-size: 12px
    line-height: 12px
    display: block
/* End Headline middle content y */ 