/* List Item x
.list-item-x
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    position: relative
    justify-content: space-between

.list-item-x .item
    width: 50%
    margin-bottom: 15px

.list-item-x .item:last-child,
.list-item-x .item:nth-last-child(2)
    margin-bottom: 0px

.list-item-x .item:nth-child(odd) .box
    padding-right: 7px

.list-item-x .item:nth-child(even) .box
    padding-left: 7px

.list-item-x .item .box .img-thumb
    margin-right: 5px

.list-item-x .item .box .description
    width: 236px
/* End List Item x */

/* List Item Y */
.list-item-y 
    padding-left: 20px

.list-item-y.microsite
    padding-left: 0px

.list-item-y .item 
    width: 100%
    margin-bottom: 15px

.list-item-y .item:last-child
    margin-bottom: 0px

.list-item-y .item .box .img-thumb
    margin-right: 10px

.list-item-y .item .box .description
    width: 215px
/* End List Item Y */


/*  List item */ 
div[class*="list-item-"] .item .box
    display: flex
    justify-content: space-between

div[class*="list-item-"] .item .box .img-thumb
    width: 100px
    overflow: hidden
    margin-bottom: 0px

div[class*="list-item-"] .item .box .img-thumb img 
    width: 88px
    height: auto

div[class*="list-item-"] .item .box .description span 
    font-size: 11px
    line-height: 12px
    text-transform: uppercase
    display: block
    margin-bottom: 5px

div[class*="list-item-"] .item .box .description span a 
    display: block
    text-transform: uppercase

div[class*="list-item-"] .item .box .description h2 
    font-size: 14px
    font-weight: 500
    line-height: 16px
    margin-bottom: 5px
    word-break: break-word

div[class*="list-item-"] .item .box .description h2 a 
    color: #000000

div[class*="list-item-"] .item .box .description span.date 
    color: #999999
    font-weight: 400
    font-size: 11px
    line-height: 12px
    display: block
/* End List item */ 


/* List Video X */
.list-video-x
    margin-bottom: 30px
    justify-content: center
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

.list-video-x .wrap-item
    padding: 15px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    background: #F6F6F6
    border-radius: 5px
    margin-bottom: 10px

.list-video-x .wrap-item .item 
    width: 33.333333333%

.list-video-x .wrap-item .item .box 
    padding: 0px 5px

.list-video-x .wrap-item .item .box .img-thumb
    width: 100%
    margin-bottom: 7px

.list-video-x .wrap-item .item .box .img-thumb a
    position: relative

.list-video-x .wrap-item .item .box .img-thumb a img 
    width: 100%
    height: auto

.list-video-x .wrap-item .item .box .img-thumb a i
    position: absolute
    bottom: 10px
    left: 10px
    width: 30px
    height: 30px

.list-video-x .wrap-item .item .box h3 
    font-weight: 600
    font-size: 14px
    line-height: 18px

.list-video-x .wrap-item .item .box h3 a 
    color: #000000
/* End List Video X */


/* List Item Y img retangle */
.list-item-y-img-retangle
    margin-bottom: 30px
    display: flex
    align-items: center
    flex-direction: column

.list-item-y-img-retangle .item 
    width: 100%
    margin-bottom: 20px

.list-item-y-img-retangle .item:last-child
    margin-bottom: 0px

.list-item-y-img-retangle .item .box .img-thumb
    margin-right: 10px
    width: 186px !important

.list-item-y-img-retangle .item .box .img-thumb img
    width: 100% !important

.list-item-y-img-retangle .item .box .description
    width: 453px !important 
    display: flex
    flex-direction: column
    justify-content: center
    
.list-item-y-img-retangle .item .box .description span 
    line-height: 14px !important
    font-weight: normal
    margin-top: 5px
    margin-bottom: 0px !important

.list-item-y-img-retangle .item .box .description h2 
    font-size: 20px !important 
    font-weight: 500 !important 
    line-height: 24px !important 
    margin-bottom: 0px !important
/* End List Item Y img retangle */

/* List Item Tag */
.list-tag 
    width: 100%
    margin-bottom: 20px

.list-tag 
    display: flex
    flex-wrap: wrap
    
.list-tag li
    list-style: none
    display: flex
    // height: 35px
    align-items: center
    margin-right: 10px
    margin-bottom: 10px

// 2 last 
// .list-tag li:nth-last-child(2),
// .list-tag li:nth-last-child(3),
// .list-tag li:last-child
//     margin-bottom: 0px

// .list-tag li:last-child
//     margin-top: 10px

.list-tag li a
    border: 1px solid #DADADA
    display: inline-block
    border-radius: 5px
    color: #000
    font-weight: 500
    // white-space: nowrap
    padding: 5px 10px
    font-size: 12px
/* End List Item Tag */