nav.navbar
    background: #fff
    position: fixed
    width: 100%
    z-index: 7

/* List Other Portal */
nav.navbar .list-other-portal
    background: #333333
    width: 100%

nav.navbar .list-other-portal .other-portal
    display: flex
    justify-content: space-between
    width: 100%
    height: 39px
    align-items: center
    flex-wrap: wrap

nav.navbar .list-other-portal .other-portal li a
    display: flex
    align-items: center

nav.navbar .list-other-portal .other-portal li a span 
    font-family: Arial
    font-size: 7px
    color: #fff
    margin-left: 5px

nav.navbar .list-other-portal .other-portal li a img 
    height: 20px
    width: auto
/* End List Other Portal */


/* Nav Middle */
nav .nav-middle 
    padding: 20px 0px 10px 0px

nav .nav-middle ul 
    display: flex
    justify-content: space-between
    align-items: center
    height: 30px
    width: 100%

nav .nav-middle ul li:last-child
    width: 51%
    display: flex
    justify-content: space-between

nav .nav-middle .logo a:first-child 
    margin-right: 5px

nav .nav-middle .logo a img 
    height: 25px
    width: auto


nav .nav-middle .search .wrap-search 
    background: #F4F4F4
    border-radius: 25px
    height: 34px
    width: 280px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 7px 15px

nav .nav-middle .search .wrap-search input 
    border: 0px
    outline: 0px
    background: transparent 
    font-family: 'Poppins', sans-serif
    font-weight: 500
    font-size: 12px

nav .nav-middle .search .wrap-search i
    font-size: 15px
    color: #BFBFBF

nav .nav-middle .auth
    display: flex
    justify-content: space-between
    width: 50%
    padding-left: 15px

nav .nav-middle .auth .btn-signup 
    cursor: pointer
    background: #000000
    border-radius: 20px
    height: 34px
    width: 108px
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    font-size: 12px
    font-family: 'Poppins', sans-serif
/* End Nav Middle */


/* === Nav Menu Top === */
nav .nav-menu-top 
    margin-top: 5px

nav .nav-menu-top ul
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
    position: relative

nav .nav-menu-top ul li 
    font-family: 'Poppins', sans-serif
    display: flex
    align-items: center
    text-transform: uppercase
    font-size: 13px
    font-weight: bold

// nav .nav-menu-top ul li:last-child:not(.sub-menu ul li) 
//     width: 10%
//     justify-content: flex-end
    
nav .nav-menu-top ul li a
    color: #000000

nav .nav-menu-top ul li.active a,
nav .nav-menu-top ul li:hover,
nav .nav-menu-top ul li a:hover 
    color: #ED1C24

nav .nav-menu-top ul li:hover:not(.sub-menu ul li) > .sub-menu 
    display: block

nav .nav-menu-top ul li .sub-menu:hover + a
    color: #ED1C24

/* Sub Menu */
nav .nav-menu-top ul li .sub-menu
    display: none
    position: absolute
    padding-top: 14px
    top: 20px
    width: 100%
    left: 0px

nav .nav-menu-top ul li .sub-menu .wrap-sub-menu
    position: absolute
    width: 100%
    min-height: 187px
    height: auto
    left: 0px
    z-index: 5
    background: #F6F6F6
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 0px 0px 10px 10px

nav .nav-menu-top ul li .sub-menu ul 
    width: 20%
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: 19px 15px
    height: auto
    min-height: 187px
    background: #EAEAEA
    border-radius: 0px 0px 0px 10px
    // border-radius: 0px 0px 10px 10px
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

nav .nav-menu-top ul li .sub-menu ul li 
    font-size: 14px
    font-weight: 500
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px dotted #d1d1d1
    text-transform: capitalize
    width: 100%

nav .nav-menu-top ul li .sub-menu ul li.item-sub-menu.all-list,
nav .nav-menu-top ul li .sub-menu ul li:last-child 
    border-bottom: 0px
    padding-bottom: 0px
    margin-bottom: 0px

nav .nav-menu-top ul li .sub-menu ul li a
    color: #333333
    width: 100%
    position: relative

nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu:hover + a.link-sub-menu,
nav .nav-menu-top ul li .sub-menu ul li a:hover
    color: #ED1C24

nav .nav-menu-top ul li .sub-menu ul li a:hover:not(.list-news-sub-menu a):after,
nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu:hover + a.link-sub-menu:after
    content: '\f10a'
    font-family: 'my-icon'
    position: absolute
    right: 0px
    color: #C1C1C1
    font-size: 20px
    top: -3px

nav .nav-menu-top ul li .sub-menu ul li:hover > .list-news-sub-menu
    display: block
/* End Sub Menu */

/* News List Item Sub Menu */
nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu
    position: absolute
    display: none
    left: 160px
    width: 785px
    padding-left: 60px
    top: 0px
    padding-top: 15px

nav .nav-menu-top ul li .sub-menu ul li.item-sub-menu.all-list .list-news-sub-menu
    display: block

nav .nav-menu-top ul li .sub-menu ul li .list-news-sub-menu .wrap-list
    position: relative
    width: 100%
    display: flex
    flex-wrap: wrap

.sub-menu ul li .list-news-sub-menu .wrap-list .items
    width: 33.333333333333%

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box
    margin-bottom: 0px
    padding-right: 15px
    display: flex
    justify-content: space-between

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .img-thumb
    width: 30%
    height: 70px
    overflow: hidden  

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .img-thumb img 
    width: 70px
    max-width: 100%
    height: auto 
    border-radius: 5px

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info
    width: 65%

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info h3 
    font-style: normal
    font-weight: 500
    margin-top: 2px
    margin-bottom: 3px
    font-size: 12px
    line-height: 15px 
    word-break: break-word

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info h3 a
    color: #333333
    position: relative
    // max-height: 43px
    // overflow: hidden
    padding-right: 7px
    display: block

// .sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info h3 a::before
//     position: absolute
//     content: "..."
//     inset-block-end: 0
//     inset-inline-end: 0
//     font-size: 15px
//     bottom: 1px
//     right: 10px

// .sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info h3 a::after
//     content: ""
//     position: absolute
//     inset-inline-end: 0
//     right: 5px
//     width: 1rem
//     height: 1rem
//     background: #F6F6F6

.sub-menu ul li .list-news-sub-menu .wrap-list .items .box .info span 
    color: #999999
    font-weight: 400
    font-size: 10px
    display: block
/* End News List Item Sub Menu */

/* === End Nav Menu Top === */


/* Nav Menu Bottom */ 
.nav-menu-bottom
    background: #F6F6F6
    height: 34px
    display: flex
    align-items: center
    margin-top: 15px

.nav-menu-bottom ul 
    display: flex
    justify-content: space-between

.nav-menu-bottom ul li 
    font-size: 11px
    font-family: 'Poppins', sans-serif
    display: flex
    justify-content: center
    width: 70%

.nav-menu-bottom ul li:first-child 
    justify-content: flex-start

.nav-menu-bottom ul li:last-child 
    width: 30%
    justify-content: flex-end
    align-items: center

.nav-menu-bottom ul li a
    height: 34px
    display: flex
    justify-content: center
    align-items: center
    color: #666666
    min-width: 105px

.nav-menu-bottom ul li a i 
    margin: 0px 10px
    font-size: 14px

.nav-menu-bottom ul li a.bg-gr i
    margin-right: 0px

.nav-menu-bottom ul li a.bg-gr
    color: #fff
    width: 160px

.nav-menu-bottom ul li a.br-right
    border-right: 0.5px solid #D1D1D1
/* End Nav Menu Bottom */ 

/* Nav Menu Regional */ 
.nav-menu-regional
    position: relative
    display: flex
    justify-content: center
    display: none

.nav-menu-regional .wrap 
    position: absolute
    top: 0px
    background: rgba(0,0,0,.8)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.nav-menu-regional .wrap ul 
    display: flex
    justify-content: space-between
    align-items: center
    height: 39px

.nav-menu-regional .wrap ul li 
    font-size: 12px
    font-family: 'Poppins', sans-serif
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    width: 10%
    border-right: 1px solid #fff
    height: 15px

.nav-menu-regional .wrap ul li:last-child
    border-right: 0px

.nav-menu-regional .wrap ul li a
    color: #fff
    width: 100%
    display: block
    text-align: center

/* End Nav Menu Regional */ 