/* Pagination Custom Detail Page */
.wrap-pagination
    margin-bottom: 30px

.wrap-pagination .pagination-custom
    display: flex

.wrap-pagination .pagination-custom li
    font-size: 13px
    margin-right: 10px
    font-weight: 600

.wrap-pagination .pagination-custom li a
    width: 30px
    height: 30px
    color: #000
    border-radius: 50%
    background: #EBEBEB
    display: flex
    align-items: center
    justify-content: center

.wrap-pagination .pagination-custom li:last-child a
    width: auto
    border-radius: 30px
    padding: 0px 20px

.wrap-pagination .pagination-custom li.active span 
    background: #E82724
    width: 30px
    color: #fff
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    
/* Next Page Detail */
.next-page-detail 
    font-weight: 700
    display: block
    font-size: 16px
    color: #000
    margin-bottom: 7px
    font-style: italic


/* Pagination */
.pagination
    display: flex
    flex-wrap: wrap

.pagination li
    font-size: 13px
    font-weight: 800
    margin-right: 10px
    margin-top: 7px

.pagination li.disabled span,
.pagination li a
    width: 35px
    height: 35px
    color: #000
    border-radius: 50%
    background: #EBEBEB
    display: flex
    align-items: center
    justify-content: center

.pagination li.active span 
    background: #E82724
    width: 35px
    color: #fff
    height: 35px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
/* End Pagination */