/* Global Side */ 
.sidebar a.btn
    margin: 0 auto
    max-width: 100% !important

.live-side,
.side-list-item-y-square,
.foto-side
    margin-bottom: 30px
/* End Global Side */

/* Head title */
.head-title-side
    display: block
    width: 100%
    margin-bottom: 10px
    
.head-title-side span,
.head-title-side span a
    display: block
    width: 100%
    font-weight: 500
    font-size: 16px
    line-height: 19px
    text-transform: uppercase
/* Head title */

/* List Item */
div[class*="side-list-item-"] .item
    width: 100%
    margin-bottom: 20px

div[class*="side-list-item-"] .item:last-child
    margin-bottom: 0px

div[class*="side-list-item-"] .item .box 
    display: flex

div[class*="side-list-item-"] .item .box .img-thumb
    width: 88px
    overflow: hidden

div[class*="side-list-item-"] .item .box .img-thumb img 
    width: 100%
    height: auto

div[class*="side-list-item-"] .item .box .description
    width: 215px
    padding-left: 15px

div[class*="side-list-item-"] .item .box .description span 
    display: flex
    font-size: 11px
    margin-bottom: 2px
    text-transform: uppercase

div[class*="side-list-item-"] .item .box .description span span.date 
    border-left: 1px solid #BDBDBD
    font-size: 11px
    margin-left: 10px
    padding-left: 10px
    height: 12px

div[class*="side-list-item-"] .item .box .description h2
    font-size: 14px
    line-height: 17px
/* End List Item */


/* Live Side */ 
.live-side .item 
    margin-bottom: 15px

.live-side .item:last-child
    margin-bottom: 0px

.live-side .item .box .img-thumb
    position: relative
    
.live-side .item .box .img-thumb img 
    width: 100%
    height: auto

.live-side .item .box .img-thumb i
    position: absolute
    bottom: 10px
    left: 10px
    width: 40px
    height: 40px 

.live-side .item .box h3 
    font-size: 20px
    line-height: 24px
    margin-top: 5px

.live-side .item .box h3 a
    color: #000000

.live-side .item .box span
    display: block
    font-size: 11px
    line-height: 14px
    margin-top: 7px
    text-transform: uppercase

.live-side .item .box span a
    color: #666666
/* End Live SIde */


/* Foto Side */ 
.foto-side ul 
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.foto-side ul li 
    width: 50%
    margin-bottom: 10px
    display: flex
    justify-content: flex-start

.foto-side ul li:nth-child(even)
    justify-content: flex-end

.foto-side ul li a
    display: flex
    width: 145px
    height: 145px

.foto-side ul li img 
    width: 100%
    height: auto
/* End Foto Side */ 