/* Static Head */
.content.static .head-content-static
    background: #ED1C24
    color: #fff
    width: 100%
    height: 40px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px
    margin-bottom: 30px
.content.static .head-content-static h1 
    font-size: 16px
    font-weight: 900
    text-transform: uppercase
.content.static .head-content-static span#date_time_now_
    font-size: 12px
    font-weight: normal
/* End Static Head */

/* Row Column static */
.row-static
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-bottom: 30px
.row-static .col-static
    width: 50%
    box-sizing: border-box
.row-static .col-static:nth-child(odd)
    padding-right: 7px
.row-static .col-static:nth-child(even)
    padding-left: 7px
/* End Row Column static */

/* Static Content */
.content.static hr 
    border: 0px
    border-top: 1px solid #c4c4c4

.content.static h2 
    font-weight: bold
    color: #333333
    line-height: 17px
    margin-bottom: 7px
    font-size: 16px
    margin-top: 7px
    word-break: break-word

.content.static h2 a
    color: #333333

.content.static ul
    margin-bottom: 15px

.content.static ul li
    font-weight: normal
    color:  #666666
    line-height: 17px
    font-size: 16px
    margin-bottom: 4px
    word-break: break-word

.content.static ul li a
    color:  #666666

.content.static p
    font-weight: normal
    color:  #666666
    line-height: 23px
    font-size: 16px
    margin-bottom: 13px
    word-break: break-word

.content.static iframe
    max-width: 100%
    margin-bottom: 10px
/* Static Content */


/* Form Search Indeks Page */
.wrap-search-indeks 
    margin: 5px 0px 25px 0px
.wrap-search-indeks select 
    background: #F6F6F6
    padding: 5px 14px
    outline: 0px
    border: 0px
.wrap-search-indeks form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.wrap-search-indeks form select
    width: 34%
    height: 45px
.wrap-search-indeks form select:first-child
    width: 44%
.wrap-search-indeks form button
    width: 20%
    height: 45px
    background: #E82724
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    border: 0px
    outline: 0px
    cursor: pointer


