@font-face {
	font-family: "my-icon";
	src: url("../webfonts/my-icon.eot?395742cf679ec51c64ad126b105fde59?#iefix") format("embedded-opentype"),
url("../webfonts/my-icon.woff2?395742cf679ec51c64ad126b105fde59") format("woff2"),
url("../webfonts/my-icon.woff?395742cf679ec51c64ad126b105fde59") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: my-icon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-bullseye:before {
	content: "\f101";
}
.icon-down:before {
	content: "\f102";
}
.icon-fb:before {
	content: "\f103";
}
.icon-google:before {
	content: "\f104";
}
.icon-ig:before {
	content: "\f105";
}
.icon-line:before {
	content: "\f106";
}
.icon-link:before {
	content: "\f107";
}
.icon-mail:before {
	content: "\f108";
}
.icon-play:before {
	content: "\f109";
}
.icon-right:before {
	content: "\f10a";
}
.icon-rss:before {
	content: "\f10b";
}
.icon-search:before {
	content: "\f10c";
}
.icon-telegram:before {
	content: "\f10d";
}
.icon-tw:before {
	content: "\f10e";
}
.icon-left-arrow:before {
	content: "\f10f";
}
.icon-right-arrow:before {
	content: "\f110";
}
.icon-wa:before {
	content: "\f111";
}
.icon-yt:before {
	content: "\f112";
}
