.btn 
    width: 100%
    max-width: 227px
    height: 34px
    display: flex
    align-items: center
    justify-content: center
    border: 0px
    outline: 0px
    border-radius: 5px
    font-family: 'Lato', sans-serif
    font-size: 12px
    font-weight: 700
    color: #FFFFFF