/* Font Color */
.c-gr
    background: linear-gradient(90deg, #E82724 0%, #41227A 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.c-default
    color: #ED1C24

.c-news 
    color: #ED1C24 !important

.c-lifestyle
    color: #EA8F00 !important

.c-bisnis
    color: #ED1C24 !important

.c-bola
    color: #4CA80B !important

.c-entertainment
    color: #6741DC !important

.c-otomotif
    color: #b7141f !important

.c-tekno
    color: #017bff !important

.c-sport
    color: #4CA80B !important

.c-health
    color: #ED1C24 !important

.c-foto
    color: #ED1C24 !important

.c-video
    color: #ED1C24 !important

.c-red 
    color: #b6302a !important
    
.c-network
    color: #000000 !important

/* Color Sosmed */
.c-fb
    color: #4C6CAD !important

.c-tw 
    color: #29B3F3 !important

.c-line 
    color: #49D024 !important

.c-wa 
    color: #5BB354 !important

.c-link 
    color: #666666
    font-size: 23px !important

.c-rss
    color: #EE8B30 !important

.c-yt
    color: #FF2A1A !important

.c-ig 
    background: linear-gradient(180deg, #E82724 0%, #41227A 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent  
/* End Color Sosmed */



/* Bacground */
.bg-darkslateblue
    background: #313594 !important
    color: #fff !important

.bg-gr
    background: linear-gradient(90deg, #E82724 0%, #41227A 100%)