.icon-svg 
    background-size: cover
    display: inline-block
    width: 27px
    height: 27px

.icon-close
    background-repeat: no-repeat
    background-image: url('../images/icons/close.svg')

.icon-pencil
    background-repeat: no-repeat
    background-image: url('../images/icons/pencil.svg')
    width: 24px
    height: 24px

.icon-user
    background-repeat: no-repeat
    background-image: url('../images/icons/user.svg')
    width: 24px
    height: 24px

.icon-play-white
    background-repeat: no-repeat
    background-image: url('../images/icons/play-white.svg')

.icon:hover,
.icon:active,
.icon:visited,
.icon:focus
    background: transparent