// /* Margin */
// .mb-30 
//     margin-bottom: 30px !important
// /* End Margin */

// /* Padding */
// .pl-10 
//     padding-left: 10px !important
// .pr-10 
//     padding-right: 10px !important
// /* End Padding */

@mixin m($name, $sz, $nameP)
    #{$name}
        @if $nameP == mlr
            margin: 0px 1 + $sz+px !important
        @else if $nameP == mtb
            margin: 1 + $sz+px 0px !important
        @else
            #{$nameP}: 1 + $sz+px !important
            
@mixin p($name, $sz, $nameP)
    #{$name}
        @if $nameP == plr
            padding: 0px 1 + $sz+px !important
        @else if $nameP == ptb
            padding: 1 + $sz+px 0px !important
        @else
            #{$nameP}: 1 + $sz+px !important

/* Generate padding */
@for $i from 0 through 30
    @include p(".p-#{$i}", $i, "padding")
    @include p(".pt-#{$i}", $i, "padding-top")
    @include p(".pr-#{$i}", $i, "padding-right")
    @include p(".pb-#{$i}", $i, "padding-bottom")
    @include p(".pl-#{$i}", $i, "padding-left")
    @include p(".plr-#{$i}", $i, "plr")
    @include p(".ptb-#{$i}", $i, "ptb")

// example Result: 
//     padding: 5px, 
//     padding-top: 5px, 
//     padding-right: 5px, 
//     padding-left: 5px, 
//     padding-bottom: 5px, 

/* Generate margin */
@for $i from 0 through 30
    @include m(".m-#{$i}", $i, "margin")
    @include m(".mt-#{$i}", $i, "margin-top")
    @include m(".mr-#{$i}", $i, "margin-right")
    @include m(".mb-#{$i}", $i, "margin-bottom")
    @include m(".ml-#{$i}", $i, "margin-left")
    @include m(".mlr-#{$i}", $i, "mlr")
    @include m(".mtb-#{$i}", $i, "mtb")

// example Result: 
//     margin: 5px, 
//     margin-top: 5px, 
//     margin-right: 5px, 
//     margin-left: 5px, 
//     margin-bottom: 5px, 

