<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet" />
</head>

<div class="sidebar">
    <div class="side-list-item-y-square">

        <div class="item">
            <div class="box">
                <div class="img-thumb-5">
                    <a href="index.php?page=detail" aria-label="Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal">
                        <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="News suara.com" width="320px" height="180px" />
                    </a>
                </div>
                <div class="description">
                    <h2>
                        <a href="index.php?page=detail">
                        Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal
                    </a>
                    </h2>
                    <span>
                    <a href="index.php?page=kanal" class="c-default c-news">
                        Gaya Hidup
                    </a>
                    <span class="date">
                    20:53 WIB
                    </span>
                    </span>
                </div>
            </div>
            <!-- <div class="side-hr"></div> -->
        </div>

        <div class="item">
            <div class="box">
                <div class="img-thumb-5">
                    <a href="index.php?page=detail" aria-label="Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal">
                        <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="News suara.com" width="320px" height="180px" />
                    </a>
                </div>
                <div class="description">
                    <h2>
                        <a href="index.php?page=detail">
                        Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal
                    </a>
                    </h2>
                    <span>
                    <a href="index.php?page=kanal" class="c-default c-news">
                        Gaya Hidup
                    </a>
                    <span class="date">
                    20:53 WIB
                    </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="box">
                <div class="img-thumb-5">
                    <a href="index.php?page=detail" aria-label="Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal">
                        <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="News suara.com" width="320px" height="180px" />
                    </a>
                </div>
                <div class="description">
                    <h2>
                        <a href="index.php?page=detail">
                        Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal
                    </a>
                    </h2>
                    <span>
                    <a href="index.php?page=kanal" class="c-default c-news">
                        Gaya Hidup
                    </a>
                    <span class="date">
                    20:53 WIB
                    </span>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    @font-face {
        font-family: my-icon;
        src: url(../webfonts/my-icon.eot?395742cf679ec51c64ad126b105fde59?#iefix) format("embedded-opentype"), url(../webfonts/my-icon.woff2?395742cf679ec51c64ad126b105fde59) format("woff2"), url(../webfonts/my-icon.woff?395742cf679ec51c64ad126b105fde59) format("woff")
    }
    
    *,
     :after,
     :before {
        padding: 0;
        margin: 0;
        box-sizing: border-box
    }
    
    body {
        background-color: #f4f4f4;
        /* background-color: #fff; */
        line-height: 1.5;
        font-size: 1.7rem;
        font-family: 'Poppins';
        font-weight: 400;
    }
    
    a {
        text-decoration: none
    }
    
    .c-default {
        color: #333333;
    }
    
    img[alt] {
        font-size: 8px
    }
    
    div[class*=list-item-] .item .box {
        display: flex;
        justify-content: space-between
    }
    
    div[class*=list-item-] .item .box .description span {
        font-size: 11px;
        line-height: 12px;
        /* text-transform: uppercase; */
        text-transform: capitalize;
        display: block;
        margin-bottom: 5px;
        padding: 0 5px 0 5px
    }
    
    div[class*=list-item-] .item .box .description span a {
        display: block;
        text-transform: capitalize;
    }
    
    div[class*=list-item-] .item .box .description h2 {
        font-size: 14px;
        font-weight: 600;
        /* line-height: 16px; */
        margin-bottom: 5px;
        word-break: break-word
    }
    
    div[class*=list-item-] .item .box .description h2 a {
        /* color: #000 */
        color: #1F1F1F;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 5px;
        padding: 0 10px 0 5px;
    }
    
    div[class*=list-item-] .item .box .description span.date {
        color: #444746;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        display: block;
        text-transform: capitalize;
        padding-left: 5px;
    }
    
    .side-list-item-y-square {
        margin-bottom: 10px;
        /* padding-bottom: 15px; */
        /* border-bottom: 0.1px solid #d4d4d4; */
    }
    
    div[class*=side-list-item-] .item {
        width: 100%;
        margin-bottom: 0px;
        /* border-bottom: 1px solid #d4d4d4; */
        height: 95px;
    }
    
    div[class*=side-list-item-] .item:last-child {
        margin-bottom: 0
    }
    
    div[class*=side-list-item-] .item .box {
        display: flex
    }
    
    div[class*=side-list-item-] .item .box .description {
        width: 225px;
        padding-left: 5px;
    }
    
    div[class*=side-list-item-] .item .box .description span {
        display: flex;
        font-size: 11px;
        margin-bottom: 2px;
        text-transform: uppercase;
    }
    
    div[class*=side-list-item-] .item .box .description span span.date {
        border-left: 1px solid #bdbdbd;
        font-size: 11px;
        margin-left: 10px;
        padding-left: 10px;
        height: 12px;
        width: 50%;
    }
    
    div[class*=side-list-item-] .item .box .description h2 {
        font-size: 14px;
        font-weight: 600;
        /* line-height: 17px */
        line-height: 18px
    }
    
    .img-thumb-5 img {
        /* width: 110px;
    height: 80px; */
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .sidebar {
        width: 300px;
        position: relative
    }
</style>