<!-- <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet" />
</head>

<div class="wrap">
    <div class="base-content">
        <div class="content">
            <div class="list-item-y-img-retangle">


                <div class="item">
                    <div class="box">
                        <div class="img-thumb-4">
                            <a href="index.php?page=detail" aria-label="Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal">
                                <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="News suara.com" width="320px" height="180px" />
                            </a>
                        </div>
                        <div class="description">
                            <div class="text-list-item-y">
                                <a href="index.php?page=detail">
                        Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal
                    </a>
                            </div>
                            <div class="date-list-item-y">
                                News | 12:27 WIB
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    @font-face {
        font-family: my-icon;
        src: url(../webfonts/my-icon.eot?395742cf679ec51c64ad126b105fde59?#iefix) format("embedded-opentype"), url(../webfonts/my-icon.woff2?395742cf679ec51c64ad126b105fde59) format("woff2"), url(../webfonts/my-icon.woff?395742cf679ec51c64ad126b105fde59) format("woff")
    }
    
    *,
     :after,
     :before {
        padding: 0;
        margin: 0;
        box-sizing: border-box
    }
    
    body {
        background-color: #f4f4f4;
        line-height: 1.5;
        font-size: 1.7rem;
        font-family: 'Poppins';
        font-weight: 400;
    }
    
    a {
        text-decoration: none
    }
    
    img[alt] {
        font-size: 8px
    }
    
    div[class*=list-item-] .item .box {
        display: flex;
        justify-content: space-between
    }
    
    .date-list-item-y {
        color: #444746;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        display: block;
        text-transform: capitalize;
        padding-left: 10px;
    }
    
    .list-item-y-img-retangle {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        flex-direction: column
    }
    
    .list-item-y-img-retangle .item {
        background-color: #fff;
        width: 100%;
        margin-bottom: 25px;
        border-radius: 5px;
        height: 150px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
    }
    
    .list-item-y-img-retangle .item:last-child {
        margin-bottom: 0
    }
    
    .list-item-y-img-retangle .item .box .description {
        width: 453px!important;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    
    .list-item-y-img-retangle .item .box .description h6 {
        font-size: 13px;
        font-weight: 400;
        margin: 8px 0;
        color: #444746;
        line-height: 18px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0 5px 0 10px;
    }
    
    .text-list-item-y a {
        color: #1F1F1F;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0 5px 0 5px;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    .img-thumb-4 img {
        width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
    }
    
    .wrap {
        position: relative;
        width: 970px;
        margin: auto
    }
    
    .base-content {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 15px;
        flex-wrap: wrap
    }
    
    .content {
        max-width: 670px;
        position: relative;
        padding-right: 15px
    }
</style> -->

<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet" />
</head>

<div id="terkini">
    <div class="item">
        <div class="box">
            <div class="img-thumb-4">
                <a href="index.php?page=detail" aria-label="Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal">
                    <img src="https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="News suara.com" width="320px" height="180px" />
                </a>
            </div>
            <div class="description">
                <div class="text">
                    <a href="index.php?page=detail">
                        Insiden Perahu Tenggelam di Sungai Mentaya, Satu Anggota Polisi Meninggal
                    </a>
                </div>
                <div class="date">
                    News | 12:27 WIB
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    #terkini .item {
        background-color: #fff;
        width: 100%;
        max-width: 655px;
        margin: 0 auto;
        border-radius: 5px;
        height: 150px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    }
    
    #terkini .box {
        display: flex;
    }
    
    #terkini img {
        width: 250px;
        height: 150px;
        border-radius: 5px 0 0 5px;
    }
    
    #terkini .text a {
        color: #1f1f1f;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0 5px 0 10px;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        margin: 0 0 10px 0;
        text-decoration: none;
        font-family: Poppins, sans-serif;
    }
    
    #terkini .date {
        color: #444746;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        padding-left: 10px;
        font-family: Poppins, sans-serif;
    }
</style>