
/* Base style */
*,
*::before,
*::after
    padding: 0px
    margin: 0px
    box-sizing: border-box

body
    line-height: 1.5
    font-size: 1.7rem
    font-family: 'Lato', sans-serif
    font-weight: 400

.clearfix,
.clearfix:before,
.clearfix:after
    clear: both
    content: ''
    height: 0px

.wrap
    position: relative
    width: 970px
    margin: auto

.distance-top 
    height: 170px
    display: block
    position: relative

/* Contetnt */
.base-content
    display: flex
    position: relative
    width: 100%
    margin-top: 15px
    flex-wrap: wrap

.content
    width: 670px
    position: relative
    padding-right: 15px

.sidebar 
    width: 300px
    position: relative
/* End Contetnt */

/* Head Title */
.head-title 
    display: block
    width: 100%
    margin-bottom: 12px

.head-title span,
.head-title span a
    display: block
    width: 100%
    font-weight: 500
    font-size: 16px
    line-height: 19px
    text-transform: uppercase
/* End Head Title */


/* Components */
@import './components/typhography'
@import './components/color'
@import './components/icons'
@import './components/input'
@import './components/button'
@import './components/animations'
@import './components/spacing'
@import './components/images'

/* Blocks */
@import './blocks/navbar'
@import './blocks/headline'
@import './blocks/list-news'
@import './blocks/detail-content'
@import './blocks/pagination'
@import './blocks/sidebar'
@import './blocks/footer'
@import './blocks/static'
@import './blocks/ads'


/* Components Block */

/* Resposive */
@import './components/responsive'