@font-face {
    font-family: my-icon;
    src: url(../webfonts/my-icon.eot?a41946de4457c5476c8547c8f308bcd3?#iefix) format("embedded-opentype"), url(../webfonts/my-icon.woff2?a41946de4457c5476c8547c8f308bcd3) format("woff2"), url(../webfonts/my-icon.woff?a41946de4457c5476c8547c8f308bcd3) format("woff")
}

.icon-svg {
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px
}

.icon-menu {
    background-image: url(../images/icons/menu.svg);
    width: 15px;
    height: 15px
}

.icon-close,
.icon-menu {
    background-repeat: no-repeat
}

.icon-close {
    background-image: url(../images/icons/close.svg)
}

.icon-search {
    background-image: url(../images/icons/search.svg)
}

.icon-search,
.icon-user {
    background-repeat: no-repeat
}

.icon-user {
    background-image: url(../images/icons/user.svg)
}

.icon-netzme {
    background-repeat: no-repeat;
    background-image: url(../images/icons/netzme.svg)
}

.icon-play-white {
    background-repeat: no-repeat;
    background-image: url(../images/icons/play-white.svg)
}

.icon:active,
.icon:focus,
.icon:hover,
.icon:visited {
    background: transparent
}

.icon {
    line-height: 1
}

.icon:before {
    font-family: my-icon!important;
    font-style: normal;
    font-weight: 400!important;
    vertical-align: top
}

.icon-down:before {
    content: "\f101"
}

.icon-fb:before {
    content: "\f102"
}

.icon-ig:before {
    content: "\f103"
}

.icon-line:before {
    content: "\f104"
}

.icon-link:before {
    content: "\f105"
}

.icon-mail:before {
    content: "\f106"
}

.icon-play:before {
    content: "\f107"
}

.icon-rss:before {
    content: "\f108"
}

.icon-tw:before {
    content: "\f109"
}

.icon-wa:before {
    content: "\f10a"
}

.icon-yt:before {
    content: "\f10b"
}

.icon-google:before {
    content: "\f10c"
}

*,
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    line-height: 1.5;
    font-size: 1.7rem;
    font-family: Lato, sans-serif;
    font-weight: 400
}

.clearfix,
.clearfix:after,
.clearfix:before {
    clear: both;
    content: "";
    height: 0
}

img[alt] {
    font-size: 8px
}

.distance-from-top {
    height: 40px
}

.wrap {
    position: relative
}

.content {
    padding: 15px
}

.head-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
    text-transform: capitalize
}


/* .hr-gradient {
    height: 4px;
    width: 100%;
    background: #f20303;
    background: linear-gradient(90deg, #f20303 19%, #a80000 28%, #260062);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
} */

.img-logo {
    height: 18px;
    width: auto
}

.logo-arkadia {
    height: 40px;
    width: auto;
    margin-top: 20px;
}

.bg-gr-foot {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), transparent)
}

.share-link {
    margin: 0 -15px 20px;
    padding: 15px;
    background: #f6f6f6;
    display: flex;
    align-items: center
}

.share-link ul {
    display: flex
}

.share-link ul li {
    margin-right: 8px;
    display: flex;
    align-items: center
}

.share-link ul li span {
    font-size: 16px;
    line-height: 19px;
    color: #000
}

.share-link ul li a {
    border: 1px solid #dadada;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px
}

.share-link ul li a i {
    font-size: 20px
}

.share-link ul li a i.icon-link {
    font-size: 17px!important
}

a {
    text-decoration: none
}

ol li,
ul li {
    list-style: none
}

.c-gr {
    background: linear-gradient(180deg, #e82724, #41227a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.c-red {
    /* color: #b6302a!important */
    color: #E82724!important
}

.c-grey {
    color: #333333!important
}

.c-lgrey {
    color: #868585!important
}

.c-fb {
    color: #4c6cad!important
}

.c-tw {
    color: #29b3f3!important
}

.c-line {
    color: #49d024!important
}

.c-wa {
    color: #5bb354!important
}

.c-link {
    color: #666;
    font-size: 23px!important
}

.c-rss {
    color: #ee8b30!important
}

.c-yt {
    color: #ff2a1a!important
}

.c-ig {
    background: linear-gradient(180deg, #e82724, #41227a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.bg-darkslateblue {
    /* background: #37356c!important */
    /* background: #333333!important */
    background: #000!important
}

.bg-silver {
    background: #bdbdbd!important
}

.bg-steelblue {
    background: #4c6cad!important
}

.bg-tomato {
    background: #f54950!important
}

.f-netzme {
    filter: invert(43%) sepia(99%) saturate(1131%) hue-rotate(179deg) brightness(96%) contrast(85%)
}

.input-group {
    background: #edeced;
    border-radius: 5px;
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 10px;
    height: 42px;
    display: flex;
    align-items: center
}

.input-group input {
    width: 100%;
    background: transparent;
    color: #8d8d8d;
    font-size: 12px;
    font-family: Lato, sans-serif;
    border: 0;
    outline: 0
}

.wrap-checkbox label {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #34313f;
    line-height: 17px;
    font-weight: 400
}

.wrap-search-indeks {
    margin: 15px 0 25px
}

.wrap-search-indeks select {
    background: #f6f6f6;
    padding: 10px 14px;
    outline: 0;
    border: 0
}

.wrap-search-indeks form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.wrap-search-indeks form select {
    width: 38%
}

.wrap-search-indeks form select:first-child {
    width: 60%
}

.wrap-search-indeks form button {
    height: 40px;
    background: #e82724;
    margin-top: 10px
}

.btn,
.wrap-search-indeks form button {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0
}

.btn {
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px
}

.btn,
.btn-sosmed {
    font-family: Lato, sans-serif
}

.btn-sosmed {
    font-size: 15px;
    font-weight: 400;
    justify-content: flex-start;
    padding: 0 10px
}

.btn-sosmed span:first-child {
    border-right: 1px solid #fff;
    padding-right: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60%
}

.btn-sosmed i.icon {
    font-size: 20px
}

@-webkit-keyframes expand-open-search {
    0% {
        height: 0
    }
    50% {
        height: 20px
    }
    to {
        height: 40px
    }
}

@-webkit-keyframes expand-close-search {
    0% {
        height: 40px
    }
    50% {
        height: 20px
    }
    to {
        height: 0
    }
}

@-webkit-keyframes expand-open-sub-menu {
    0% {
        height: 0%
    }
    50% {
        height: 50%
    }
    to {
        height: 100%
    }
}

@-webkit-keyframes expand-close-sub-menu {
    0% {
        height: 100%
    }
    50% {
        height: 50%
    }
    to {
        height: 0%
    }
}

@-webkit-keyframes expand-open-menu-left {
    0% {
        width: 0
    }
    50% {
        width: 50%
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes expand-close-menu-left {
    0% {
        width: 100%
    }
    50% {
        width: 50%
    }
    to {
        width: 0
    }
}

.navbar {
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    /* padding: 10px 10px 10px 15px; */
    padding: 0 15px;
    z-index: 9;
    /* height: 60px; */
    height: 40px;
    box-shadow: 0 2px 2px 0 rgba(59, 59, 59, .5764705882352941)
}

.navbar,
.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.navbar ul li {
    display: inline-block;
    list-style: none
}

.navbar ul li:last-child i:first-child:not(a i) {
    margin-right: 10px
}

.wrap-search {
    position: absolute;
    top: 40px;
    background: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(59, 59, 59, .5764705882352941);
    display: none
}

.wrap-search form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 7px
}

.wrap-search input[type=text] {
    border: 0;
    outline: 0;
    padding: 8px 10px;
    height: 30px;
    width: 90%;
    font-size: 14px
}

.wrap-search button {
    border: 0;
    outline: 0;
    background: #b6302a;
    color: #fff;
    font-size: 14px;
    padding: 7px 14px
}

.subscribe-foot {
    background: linear-gradient(90deg, #e82724, #41227a);
    width: 100%;
    padding-bottom: 15px;
    font-family: Poppins, sans-serif
}

.subscribe-foot span {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px
}

.subscribe-foot .wrap-form {
    border: 1px solid #fff;
    padding: 10px;
    max-width: 275px;
    display: block;
    margin: 0 auto;
    border-radius: 10px
}

.subscribe-foot .wrap-form form {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.subscribe-foot .wrap-form button,
.subscribe-foot .wrap-form input[type=email] {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 12px;
    color: #fff
}

.subscribe-foot .wrap-form input[type=email] {
    width: 80%
}

.subscribe-foot .wrap-form button {
    width: 10%
}

.subscribe-foot .wrap-form button i {
    color: #fff;
    font-size: 20px
}

.subscribe-foot .wrap-form ::-webkit-input-placeholder {
    color: #fff
}

.subscribe-foot .wrap-form :-ms-input-placeholder {
    color: #fff
}

.subscribe-foot .wrap-form ::placeholder {
    color: #fff
}

.foot-copyright {
    padding: 15px 0
}

.foot-copyright span {
    display: block;
    text-align: center;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    font-family: Poppins, sans-serif
}

.menu-left {
    position: fixed;
    z-index: 10;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100vh;
    font-family: Poppins, sans-serif;
    display: none
}

.menu-left .m-head ul {
    width: 100%;
    padding: 0 15px
}

.menu-left .m-head ul li {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu-left .m-head ul.account {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    background: #f6f6f6;
    height: 40px
}

.menu-left .m-head ul.account li {
    margin-right: 15px;
    font-size: 12px;
    font-weight: 400
}

.menu-left .m-head ul.account li a {
    color: #000
}

.menu-left .m-head ul.account li:last-child {
    border-left: 1px solid #000;
    padding-left: 15px;
    margin-right: 0
}

.menu-left .m-body .wrap-list-canal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.menu-left .m-body ul.list-canal {
    padding: 7px 15px 15px;
    /* width: 100%; */
    width: 50%
}

.menu-left .m-body ul.list-canal li {
    width: 100%
}

.menu-left .m-body ul.list-canal li .box {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 0;
    flex-wrap: wrap
}

.menu-left .m-body ul.list-canal li:last-child .box {
    border-bottom: 0
}

.menu-left .m-body ul.list-canal li .box a {
    color: #000;
    text-transform: uppercase;
    width: 85%
}

.menu-left .m-body ul.list-canal li .box i {
    color: #dadada;
    cursor: pointer;
    width: 15%;
    display: flex;
    justify-content: flex-end
}

.menu-left .m-body ul.list-canal li .box .sub-menu {
    display: block;
    width: 100%;
    margin-top: 5px;
    display: none;
    height: auto
}

.menu-left .m-body ul.list-canal li .box .sub-menu li {
    padding-left: 15px;
    margin: 5px 0;
    width: 100%;
    position: relative
}

.menu-left .m-body ul.list-canal li .box .sub-menu li:before {
    background: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 6px;
    top: 6px
}

.menu-left .m-body ul.list-canal li .box .sub-menu li a {
    width: 100%
}

.menu-left .other-canal {
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: #f6f6f6
}

.menu-left .other-canal ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

.menu-left .other-canal ul li {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    border-right: 1px solid #000;
    display: flex;
    justify-content: center;
    width: 25%
}

.menu-left .other-canal ul li:last-child {
    border-right: 0;
    padding-right: 0
}

.menu-left .other-canal ul li a {
    color: #000
}

.m-foot .other-media {
    background: #f6f6f6;
    font-family: Poppins, sans-serif
}

.m-foot .other-media .item {
    padding: 20px 15px 0;
    margin-bottom: 10px
}

.m-foot .other-media .item:last-child {
    padding-bottom: 20px
}

.m-foot .other-media .item ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.m-foot .other-media .item ul:first-child {
    border-bottom: 1px dashed #dadada;
    margin-bottom: 15px;
    padding-bottom: 15px
}

.m-foot .other-media .item ul:first-child li {
    text-transform: uppercase
}

.m-foot .other-media .item ul:first-child li,
.m-foot .other-media .item ul:first-child li a {
    color: #000
}

.m-foot .other-media .item ul li {
    font-size: 12px;
    font-weight: 500;
    text-transform: lowercase
}

.m-foot .other-media .item ul:first-child li b {
    font-size: 12px
}

.m-foot .other-media .item ul:last-child li {
    height: 13px;
    align-items: center;
    border-right: 1px solid #000;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex
}

.m-foot .other-media .item ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0
}

.m-foot .other-media .item ul li a {
    color: #444
}

.m-foot .sosmed {
    background: #fff;
    padding-top: 5px;
    font-family: Poppins, sans-serif;
    max-width: 320px;
    display: block;
    margin: 0 auto
}

.m-foot .sosmed span b {
    font-size: 13px;
    font-weight: 700;
    color: #000;
    display: block;
    text-align: center
}

.m-foot .sosmed p {
    text-align: center;
    font-size: 12px;
    font-weight: 400
}

.m-foot .sosmed .list-sosmed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.m-foot .sosmed .list-sosmed li a {
    border: 1px solid #dadada;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 5px 3px
}

.m-foot .sosmed .list-sosmed li a i {
    font-size: 28px
}

.m-foot .other-info {
    margin-top: 15px;
    background: linear-gradient(90deg, #e82724, #41227a);
    padding: 20px 15px 10px 20px;
    font-family: Poppins, sans-serif;
    position: relative
}

.m-foot .other-info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.m-foot .other-info ul li {
    display: flex;
    margin: 0 10px 8px 0;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 400;
    border-right: 1px solid #fff;
    text-transform: capitalize;
    height: 13px;
    align-items: center
}

.m-foot .other-info ul li:last-child {
    border-right: 0
}

.m-foot .other-info ul li a {
    color: #fff
}

.menu-auth {
    position: fixed;
    top: 0;
    z-index: 11;
    background: #fff;
    width: 100%;
    left: 0;
    overflow-y: scroll;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(59, 59, 59, .5764705882352941);
    display: none
}

.menu-auth,
.menu-auth .m-head {
    border-bottom: 1px solid #e5e5e5
}

.menu-auth .m-head {
    padding: 0 15px
}

.menu-auth .m-head ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px
}

.menu-auth .m-body {
    padding: 15px
}

.menu-auth .m-body h2 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #34313f;
    line-height: 12px;
    margin-bottom: 15px
}

.menu-auth .m-body form {
    margin-bottom: 10px
}

.menu-auth .m-body form button[type=submit] {
    margin-top: 15px
}

.menu-auth .m-body .wrap-form ul {
    margin-bottom: 25px
}

.menu-auth .m-body .wrap-form ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px
}

.menu-auth .m-body .wrap-form ul li a {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #34313f
}

.menu-auth .m-body .auth-sosmed {
    border-top: 1px solid #ececed;
    margin-top: 20px;
    padding-top: 15px
}

.menu-auth .m-body .wrap-form p.account_ {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #34313f;
    line-height: 24px;
    text-align: center
}

.menu-auth .m-body .wrap-form p.account_ a {
    font-weight: 700;
    color: #34313f
}

.menu-top {
    overflow-x: scroll;
    background: linear-gradient(90deg, #e82724, #41227a);
    padding: 10px 15px;
    position: relative;
    /* margin-top: 20px; */
}

.menu-top,
.menu-top ul {
    width: 100%;
    display: flex
}

.menu-top ul li {
    list-style: none;
    display: flex;
    padding-right: 15px
}

.menu-top ul li a {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    white-space: nowrap
}

.menu-top ul:first-child {
    margin-right: 15px;
    /* border-right: 2px solid #fff */
}

.menu-top ul:first-child li {
    position: relative;
    margin-left: 5px
}

.menu-top ul:first-child li:before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    /* background: #fff; */
    content: "";
    top: 5px;
    position: relative;
    right: 4px
}

.menu-top-canal {
    padding: 0 15px;
    margin-top: 15px;
    width: 100%
}

.menu-top-canal .top {
    display: flex;
    justify-content: space-between
}

.menu-top-canal .top span:not(#date_now_) {
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase
}

.menu-top-canal .top span:not(#date_now_) a {
    color: #e82724
}

.menu-top-canal .top span#date_now_ {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666
}

.menu-top-canal .sub-canal ul {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-top: 7px;
    white-space: nowrap
}

.menu-top-canal .sub-canal ul li {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    margin-right: 20px
}

.menu-top-canal .sub-canal ul li a {
    color: #000
}

.menu-top-regional {
    background: #f6f6f6;
    display: flex
}

.menu-top-regional ul {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex
}

.menu-top-regional ul.scroll-x {
    overflow-x: scroll
}

.menu-top-regional ul li {
    list-style: none;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px
}

.menu-top-regional ul li:last-child {
    padding-right: 15px
}

.menu-top-regional ul li a {
    white-space: nowrap;
    color: #000;
    text-transform: capitalize
}

.menu-top-regional ul:first-child {
    background: #ebebeb
}

.menu-top-regional ul:first-child li {
    color: #e82724;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    align-items: center
}

.headline {
    position: relative
}

.headline-one {
    margin-bottom: 25px
}

.headline-one h1,
.headline-one h2 {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    word-break: break-word;
    margin-top: 4px
}

.headline-one h1 a,
.headline-one h2 a {
    color: #000
}

.headline-one span {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
    margin-top: 6px
}

.headline-one span a {
    color: #666
}

.headline-one.video .thumb-img i.icon-svg {
    color: #fff;
    position: absolute;
    font-size: 30px;
    bottom: 15px;
    left: 15px;
    width: 40px;
    height: 40px
}

.list-item-x h2,
.list-item-y .item .box .des h2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    word-break: break-word
}

.list-item-x h2 a,
.list-item-y .item .box .des h2 a {
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-item-x span,
.list-item-y .item .box .des span {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
    margin-top: 4px;
    word-break: break-word;
    color: #666
}

.list-item-x span a,
.list-item-y .item .box .des span a {
    color: #666
}

.list-item-x {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px
}

.list-item-x .item {
    width: 50%;
    margin-bottom: 30px
}

.list-item-x .item h2 {
    margin-top: 3px
}

.list-item-x .item:nth-child(odd) .box {
    padding-right: 7px
}

.list-item-x .item:nth-child(2n) .box {
    padding-left: 7px
}

.list-item-y {
    margin-bottom: 20px
}

.list-item-y .item {
    border-bottom: 1px dashed #dadada;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.list-item-y .item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

.list-item-y .item .box {
    display: flex;
    flex-wrap: wrap
}

.list-item-y .item .box .thumb-img {
    width: 40%
}

.list-item-y .item .box .des {
    width: 60%;
    padding-left: 10px
}

.list-item-y-without-img {
    margin-bottom: 20px
}

.list-item-y-without-img .item {
    width: 100%;
    position: relative;
    border-bottom: 1px dashed #dadada;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.list-item-y-without-img .item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

.list-item-y-without-img .item span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    word-break: break-word;
    display: block;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-left: 10px
}

.list-item-y-without-img .item span:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #c4c4c4;
    position: absolute;
    left: 0;
    top: 3px
}

.list-item-y-without-img .item span a {
    color: #666
}

.list-item-y-without-img .item h3 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    display: block;
    padding-left: 10px;
    word-break: break-word
}

.list-item-y-without-img .item h3 a {
    color: #000
}

.list-item-x-scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 20px
}

.list-item-x-scroll .item {
    width: 200px;
    display: flex;
    margin-right: 15px;
    flex-direction: column
}

.list-item-x-scroll .item .thumb-img {
    width: 200px
}

.list-item-x-scroll .item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    word-break: break-word;
    margin-top: 5px
}

.list-item-x-scroll .item a {
    color: #000
}

.list-item-x-scroll .item span {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
    margin-top: 6px
}

.list-item-x-scroll .item span a {
    color: #666
}

.foto {
    background: #f6f6f6;
    padding: 10px 0 15px 15px;
    margin: 0 -15px 20px
}

.foto .list-item-foto {
    display: flex;
    width: 100%;
    overflow-x: scroll
}

.foto .list-item-foto .item {
    width: 250px;
    display: flex;
    margin-right: 15px;
    flex-direction: column
}

.foto .list-item-foto .item .thumb-img {
    width: 250px
}

.foto .list-item-foto .item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    word-break: break-word;
    margin-top: 5px
}

.foto .list-item-foto .item a {
    color: #000
}

.foto .list-item-foto .item span {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
    margin-top: 6px
}

.foto .list-item-foto .item span a {
    color: #666
}

.video-x-scroll {
    background: #f6f6f6;
    padding: 10px 0 15px 15px;
    margin: 0 -15px 20px
}

.video-x-scroll .list-item-video {
    display: flex;
    width: 100%;
    overflow-x: scroll
}

.video-x-scroll .list-item-video .item {
    width: 250px;
    display: flex;
    margin-right: 15px;
    flex-direction: column
}

.video-x-scroll .list-item-video .item .thumb-img {
    width: 250px
}

.video-x-scroll .list-item-video .item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    word-break: break-word;
    margin-top: 5px
}

.video-x-scroll .list-item-video .item a {
    color: #000
}

.video-x-scroll .list-item-video .item span {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
    margin-top: 6px
}

.video-x-scroll .list-item-video .item span a {
    color: #666
}

.list-tag {
    width: 100%;
    margin-bottom: 20px
}

.list-tag ul {
    display: flex;
    flex-wrap: wrap
}

.list-tag ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 7px;
    margin-bottom: 5px
}

.list-tag ul li a {
    border: 1px solid #dadada;
    display: inline-block;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    padding: 5px 8px;
    font-size: 14px
}

.wrap-ads-r,
div[id*=div-ad]:not([id*=div-ad-parallax]) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.wrap-comment {
    margin: 0 -8px 20px
}

.top-detail {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.top-detail span {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    justify-content: flex-end
}

.top-detail span,
.top-detail ul {
    display: flex;
    /* width: 50%; */
    flex-wrap: wrap
}

.top-detail ul,
.top-detail ul li {
    align-items: center
}

.top-detail ul li {
    display: flex;
    margin-right: 3px
}

.top-detail ul li a {
    font-size: 12px;
    line-height: 20px;
    color: #666;
    text-transform: uppercase
}

.top-detail ul li a:after {
    content: "/";
    padding-left: 2px;
    color: #666;
    font-weight: 400
}

.top-detail ul li:last-child a:after {
    content: ""
}

.top-detail ul li:first-child a {
    /* color: #b6302a; */
    color: #E82724;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900
}

.info {
    margin-bottom: 15px
}

.info h1 {
    font-size: 20px;
    font-weight: 900;
    line-height: 26px;
    color: #000;
    text-align: center;
    margin-bottom: 10px
}

.info .writer {
    display: flex;
    justify-content: center
}

.info .writer span {
    border-right: 1px solid #666;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    display: inline-block;
    margin-right: 7px;
    padding-right: 7px
}

.info .writer span:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0
}

.img-cover {
    margin-bottom: 15px
}

.img-cover .caption {
    background: #ebebeb;
    padding: 7px;
    word-break: break-word;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #666
}

.img-cover picture {
    margin-bottom: 0;
    display: flex
}

.img-cover .hr-bottom-caption {
    width: 100%;
    border: 0;
    margin-top: 15px;
    border-bottom: 1px dashed #dadada
}

.slide-foto-thumb {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px -15px;
    overflow-x: scroll
}

.slide-foto-thumb .item-foto {
    display: block;
    margin-left: 15px
}

.slide-foto-thumb .item-foto a {
    display: flex;
    width: 160px
}

.slide-foto-thumb .item-foto.active a {
    border: 2px solid red
}

.slide-foto-thumb .item-foto img {
    width: 100%;
    height: auto
}

.detail-content {
    margin-bottom: 20px;
    font-family: Lato, sans-serif;
    position: relative
}

.detail-content .iframe-title {
    padding: 0!important;
    margin-bottom: 10px!important
}

.detail-content ol li,
.detail-content p,
.detail-content ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    margin-bottom: 13px;
    word-break: break-word
}

.detail-content p strong {
    font-weight: 700
}

.detail-content p a {
    color: #b6302a;
    font-weight: 700
}

.detail-content ol,
.detail-content ul {
    margin-left: 15px;
    padding-left: 15px
}

.detail-content ol li,
.detail-content ul li {
    margin-bottom: 5px
}

.detail-content ol li {
    list-style: decimal
}

.detail-content ul li {
    list-style: circle
}

.detail-content p.baca-juga-new {
    background: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px
}

.detail-content p.baca-juga-new span {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    display: block;
    margin-bottom: 8px
}

.detail-content p.baca-juga-new a {
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #37356c;
    display: block
}

.detail-content figure.image,
.detail-content picture {
    margin-bottom: 10px
}

.detail-content figure.image img {
    width: 100%;
    display: block
}

.detail-content figure.image figcaption {
    word-break: break-word;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #666;
    background: #ebebeb;
    padding: 7px
}

.detail-content iframe {
    max-width: 100%;
    border: 0
}

.detail-content div[class*=dailymotion-widget] {
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.detail-content h2 {
    font-size: 18px;
    margin-bottom: 5px
}

.detail-content h3 {
    font-size: 17px;
    margin-bottom: 5px
}

.detail-content h4 {
    font-size: 16px;
    margin-bottom: 5px
}

.detail-content .btn-selengkapnya {
    font-size: 16px
}

.next-article {
    display: none;
    position: fixed;
    top: 40px;
    z-index: 6;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}

.next-article .close-next {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 25px;
    cursor: pointer
}

.next-article .close-next i {
    height: 17px;
    width: 17px
}

.item--baca-juga-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.next-article .baca-juga-1 .item--baca-juga-inner {
    margin-bottom: 0
}

.item--baca-juga-inner .post-thumb {
    width: 27%;
    max-width: 90px;
    overflow: hidden;
    margin-right: 10px;
    padding: 10px
}

.next-article .baca-juga-1 .item--baca-juga-inner .post-thumb a {
    display: flex
}

.item--baca-juga-inner .item-content {
    width: 65%;
    overflow: hidden;
    padding-top: 15px;
    margin-right: 10px
}

.next-article .baca-juga-1 .item--baca-juga-inner .item-content h4 {
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #bebebe
}

.item--baca-juga-inner .item-content .post-title {
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0 10px
}

.item--baca-juga-inner .item-content .post-title a {
    color: #000;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item--baca-juga-inner .item-content span {
    text-transform: uppercase;
    display: block;
    font-size: 14px
}

.content.statik {
    border-top: 1px solid #c4c4c4;
    margin: 15px;
    padding: 15px 0
}

.content.statik hr {
    border: 0;
    border-top: 1px solid #c4c4c4
}

.content.statik h2 {
    font-weight: 700;
    color: #333;
    line-height: 17px;
    margin-bottom: 7px;
    font-size: 15px;
    margin-top: 7px;
    word-break: break-word
}

.content.statik h2 a {
    color: #333
}

.content.statik ul {
    margin-bottom: 15px
}

.content.statik ul li {
    font-weight: 400;
    color: #666;
    line-height: 17px;
    font-size: 14px;
    margin-bottom: 4px;
    word-break: break-word
}

.content.statik ul li a {
    color: #666
}

.content.statik p {
    font-weight: 400;
    color: #666;
    line-height: 23px;
    font-size: 14px;
    margin-bottom: 13px;
    word-break: break-word
}

.content.statik iframe {
    width: 100%;
    height: auto;
    margin-bottom: 10px
}

.pagination {
    display: flex;
    flex-wrap: wrap
}

.pagination li {
    font-size: 13px;
    font-weight: 800;
    margin-right: 10px;
    margin-top: 7px
}

.pagination li.disabled span,
.pagination li a {
    color: #000;
    background: #ebebeb
}

.pagination li.active span,
.pagination li.disabled span,
.pagination li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.pagination li.active span {
    background: #e82724;
    color: #fff
}

.wrap-pagination {
    margin-bottom: 20px
}

.wrap-pagination .pagination-custom {
    display: flex
}

.wrap-pagination .pagination-custom li {
    font-size: 13px;
    font-weight: 800;
    margin-right: 10px
}

.wrap-pagination .pagination-custom li a {
    width: 30px;
    height: 30px;
    color: #000;
    border-radius: 50%;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center
}

.wrap-pagination .pagination-custom li:last-child a {
    width: auto;
    border-radius: 30px;
    padding: 0 15px
}

.wrap-pagination .pagination-custom li.active span {
    background: #e82724;
    width: 30px;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.next-page-detail {
    font-weight: 700;
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 7px;
    font-style: italic
}

.thumb-img {
    position: relative
}

.img-responsive,
picture {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block
}

picture img {
    width: 100%;
    height: auto
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        picture img {
            height: 100%
        }
    }
}


/* menu-left-portal */


/* regional */

.bg-suararegional {
    background: #ed1c24;
    background: linear-gradient(90deg, #ed1c24 0, #ed1c24 0, #41227a 87%);
    padding: 10px 0 10px 0;
}

.bg-suararegional p {
    color: #d0c0c6;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.side-suararegional {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
    width: 310px;
    margin: 0 auto;
}

.side-suararegional a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}


/* end regional */

.bg-menu-left-portal {
    background-color: #fff;
}

.logo-partner {
    height: 25px;
    max-width: 100%;
    margin: 0 auto;
}

.side-logo-partner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 350px;
    margin: 0 auto
}

.side-hr {
    max-width: 350px;
    margin: 10px auto;
    /* border-bottom: 0.1px dashed #402000; */
}

.sosmed-side {
    padding-top: 5px;
    font-family: Poppins, sans-serif;
    max-width: 350px;
    display: block;
    margin: 0 auto
}

.sosmed-side .list-sosmed-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.sosmed-side .list-sosmed-side li a {
    border: 2px solid #402000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 5px 15px
}

.sosmed-side .list-sosmed-side li a i {
    font-size: 28px
}


/* end menu-left-portal */


/* share baru */

.share-baru-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 10px
}

.share-baru-header img {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 30px;
    width: 100%;
}

.share-baru-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px 0 20px 10px */
}

.share-baru-bottom img {
    margin-top: 10px;
    margin-left: 18px;
    max-width: 30px;
    width: 100%;
}


/* end share baru */

.banner-ads--big {
    text-align: center;
    padding: 0;
    background-color: #E1E1E1;
    margin-bottom: 15px;
}

.banner-ads--big img {
    max-width: 100%;
    margin-bottom: -10px;
}

.mt20 {
    margin-top: 20px;
}


/* slide detail-foto.php */

#detail-foto .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border: 3px solid #E82724!important
}

#thumbnails {
    margin: 10px 0;
}


/* end slide detail-foto.php */