@font-face {
	font-family: "my-icon";
	src: url("../webfonts/my-icon.eot?a41946de4457c5476c8547c8f308bcd3?#iefix") format("embedded-opentype"),
url("../webfonts/my-icon.woff2?a41946de4457c5476c8547c8f308bcd3") format("woff2"),
url("../webfonts/my-icon.woff?a41946de4457c5476c8547c8f308bcd3") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: my-icon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-down:before {
	content: "\f101";
}
.icon-fb:before {
	content: "\f102";
}
.icon-ig:before {
	content: "\f103";
}
.icon-line:before {
	content: "\f104";
}
.icon-link:before {
	content: "\f105";
}
.icon-mail:before {
	content: "\f106";
}
.icon-play:before {
	content: "\f107";
}
.icon-rss:before {
	content: "\f108";
}
.icon-tw:before {
	content: "\f109";
}
.icon-wa:before {
	content: "\f10a";
}
.icon-yt:before {
	content: "\f10b";
}
.icon-google:before {
	content: "\f10c";
}
